*{
	 box-sizing: border-box;
}

.navbar{
	height: 80px;
	background-color: white;
	width: 100%;
	font-weight: bold;
	padding-left: 50px;
}
.navbar a {
  float: left;
  font-size: 20px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.dropdown {
  float: right;
  overflow: hidden;
}

.dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-weight: bold;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
#download{
	font-weight: bold;
}
.gap{
	width: 100%;
}

.body{

	background-image: url("background.jpg");
	width: 1350px;
	height: 500px;
	background-size: 100% 100%; 
	background-repeat: no-repeat;
	position: absolute;
	display: block;
	overflow: auto;

}
.bold{
	text-align: center;
	font-size: 25px;
}
.intended{
	padding-left: 250px;
	padding-right: 250px;
	font-size: 20px;
}
.buttons{
	padding-left: 550px;
}
#freeDownload{
	height: 30px;
	width: 177px;
	background-color: black;
	color: white
}
#viewDemo{
	height: 30px;
	width: 177px;
}