.header{
	height: 80px;
	background-color: lightblue;
	width: 100%;
}
.left{
	float: left;
	height: 650px;
	width: 600px;
	margin-top: 50px;
	margin-left: 50px;
	font-size: 20px;
}
.right1{
	float: right;
	height: 230px;
	width: 400px;
	margin-top: 50px;
	border : groove;
	margin-right: 50px;
	padding-top: 5px;
	padding-left: 5px;
}
.right2{
	float: right;
	height: 50px;
	width: 400px;
	margin-right: 50px;
	padding-top: 5px;
	padding-left: 5px;
}
.right3{
	float: right;
	height: 160px;
	width: 400px;
	border : groove;
	margin-right: 50px;
	padding-top: 5px;
	padding-left: 5px;
}
.right4{
	float: right;
	height:39s0px;
	width: 400px;
	margin-top: 50px;
	border : groove;
	margin-right: 50px;
	padding-top: 5px;
	padding-left: 5px;
}
.right5{
	float: right;
	height: 50px;
	width: 400px;
	margin-right: 50px;
	padding-top: 5px;
	padding-left: 5px;
}
.footer{
	color: black;
	text-align: center;
	height: 80px;
	width: 100%;
	background-color: lightblue;
	float: left;
	padding-top: 20px;
}


.bold{
	font-weight: bold;
}
.menu2{
	margin-right: 10px;
	margin-left: 10px;
}
.menu3{
	margin-right: 10px;
	margin-left: 10px;
}
#fname{
	height: 30px;
	width: 170px;
}
#lname{
	height: 30px;
	width: 177px;
}
#uname{
	width: 380px;
	height: 30px;
}
#pass{
	width: 380px;
	height: 30px;

}
.submitbtn{
	width: 386px;
	height: 30px;
}
#button{
	width: 190px;
	height: 30px;

}

#button1{
	width: 100px;
	height: 30px;

}

#email{
	width: 380px;
	height: 30px;
}
.github{
	width: 100px;
	height: 30px;
}
.line{
	float: right;
}