body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
   box-sizing: border-box;
}
* {
    box-sizing: border-box;
}


.navbar{
      height: 100px;
      font-weight: bold;
      padding-left: 100px;
      width: 100%;
      position: fixed;
      border-bottom: solid 1px #343434; 
      padding: 30px;
      background-color: white;
      z-index: 5;
}
.navbar a {
  float: left;
  font-size: 15px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding-left: 20px;
}
#search{
  color: black;
  padding: 10px;
  margin-left: 20px;
  border-left:solid 1px #343434; 
  padding-left: 30px;
}
.logo a{
  color: black;
  letter-spacing: 5px;
  font-size: 30px;
  text-decoration: none;
  font-family: cursive;
  margin-right: 300px;
  padding: 10px;
}
.dropdown {
  float: left;
  overflow:hidden;
  font-size: 15px;
}

.dropbtn {
  font-size: 20px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-weight: bold;
  font-size: 15px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  margin-left: 3px;
  background-color: white;
  color: #b08968;
}
.dropdown:hover .dropdown-content {
  display: block;
}
#fb{
  padding: 10px;
  padding-left: 20px;
  margin-left: 20px;
  border-left: solid 1px #343434;
}
.bg-image {
  background-image: url("aboutUs2.jpg");
  background-color: #cccccc;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bg-text {
  position: absolute;
  top: 50%;
  left: 30%;
  color: white;

}
.content{
    height: 350px;
    width: 100%;
}
.upperContent{
  height: 110px;
  font-size: 70px;
  font-weight: bold;
  color: #fff;
}

.lowerContent{
  font-size: 20px;
  height: 100px;
  margin-left: 50px;
}

.lowerContentLeft{
  height: inherit;
  width: 80px;
  float: left;
}
.lowerContentLeft a{
  text-decoration: none;
  color: #fff;
}
.lowerContentRight{
  height: inherit;

}
.lowerContentRight a{
  text-decoration: none;
  color: #d4a373;
}

.secondDivAbout{
  height: 500px;
}
.leftDivAbout{
  height: inherit;
  width: 650px;
  float: left;
}
.leftTopAbout{
  height: 200px;
  width: inherit;
  padding-left: 50px;
  padding-top: 50px;
}
.leftBottomAbout{
  height: 200px;
  width: inherit;
    padding-left: 50px;
  padding-top: 50px;
}
.box{
  height: 150px;
  width: 260px;
  border: solid 1px #f8f8ff;
  float: left;
  margin-right: 20px;
  text-align: center;
}
.boxTop{
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 40px;
  margin-top: 20px;
  color: #a98467;
}

.boxBottom{
  font-size: 13px;
  color: #575757;
  font-weight: 550;
}
.boxTopAbout{
  height: 110px;
  width: 260px;
  padding-left: 60px;
}
.leftBox{
  height: inherit;
  width: 100px;
  font-size: 45px;
  font-weight: bold;
  color: #a98467;
  padding-top: 20px;
  margin-right: 1px;
  float: left;
}
.rightBox{
  font-size: 25px;
  font-weight: 550;
  color: #b7b7a4;
  width: 20px;
  height: inherit;
  float: left;
  padding-top:30px ;

}

.rightDivAbout{
  height: inherit;
  width: 650px;
  float: right;
  font-size: 16px;
  line-height: 35px;
  padding-top: 60px;
  color: #b1a7a6;
  padding-right: 100px;
}
.videoDiv{
  height: 300px;
  background-image: url("background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.doRight{
  height: 300px;
  text-align: center;
  padding-top: 1px;
}
.playButton{
  color: black;
  margin-top: 100px;
  margin-left: 80px;
}
.nextDiv{
  height: 450px;
  background-color:#ffedd8;
  margin-top: -90px;
  margin-left: 100px;
  margin-right: 100px;
}

.imageGallery1{
  height: 450px;
  width: 24.99%;
  background-color: #fff;
  float: left;
  margin-right: 0.1px;
}
.inner1{
  margin-top: 100px;
  font-size: 50px;
  color: #774936;
  margin-bottom: 40px;
  margin-left: 20px;
}
.inner2{
  margin: 20px;
  font-weight: bolder;
  font-size: 25px;
  color: #343a40;
}
.inner3{
  padding-left: 20px;
  padding-right: 20px;
  color: #adb5bd;
}
.inner4{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  
}
.inner4 a{
  color: #343a40;
  text-decoration: none;
  font-weight: 600;
}
.imageGallery1:hover {
  background: transparent;
  color: #fff;
}
.inner1:hover{
  color: #fff;
}
.inner2:hover{
  color: #fff;
}
.inner3:hover{
  color: #fff;
}
.inner4 a:hover{
  color: #fff;
}
.progressBarDiv{
  height: 500px;
}
.progressLeft{
  height: inherit;
  width: 650px;
  float: left;
  padding-top: 120px;
  padding-left: 100px;
}

.topPartProgress{
  height: 300px;
  width: 500px;
}
.progressBar{
  color: #6b705c;
}
.programming{
  height: 300px;
  width: inherit;
  float: left;
}
.gap{
  padding-right: 100px;
  padding-top: 20px;
}
.lineGap{
  height: 50px;
}
#file{
  height: 10px;
  width: 500px;
}

.progressRight{
  height: inherit;
  width: 650px;
  float: right;
  padding-top: 100px;
}
.progressRightTop{
  height: 100px;
  width: inherit;
  color: #293241;
  font-size: 30px;
  font-weight: 550;
  line-height: 55px;
}
.progressRightBottom{
  height: 300px;
  width: inherit;
  font-size: 16px;
  line-height: 30px;
  color: #b1a7a6;
  margin-top: 30px;
  padding-right: 100px;

}

.testimonials{
  height: 800px;
  background-image: url("skillsImage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tTop{
  height: 300px;
  background: transparent;
}
.top1{
   color: #d68c45;
   margin-left: 600px;
   padding-top: 100px;
   height: 30px;
   font-size: 15px;
   padding-bottom: 20px;
}
.tTop2{
  margin-left: 500px;
  height: 50px;
  font-size: 40px;
  padding-bottom: 150px;
  font-weight: 540;
  font-family: serif;
  color: #fef9ef;
}
.tBottom{
  height: 400px;
  padding-left: 150px;
  padding-right: 150px;
  background: transparent;
}


/* Contain demo size */
.contain {
  width: 500px;
  float: left;
  background: transparent;
  margin-right: 15px;
}
.quote-box{
  background: transparent;
}
.quote {
  background-color: #f6fff8;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color:#fef9ef ;
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-style: oblique;
  line-height: 35px;
  background: transparent;
   border: solid 10px #333533;
}

.tname {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: black;
  height: 100px;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
blockquote {
  padding: 0;
  margin: 0;
  background: transparent;
}

blockquote::after {
  border-color: transparent transparent transparent transparent;
  border-image: none;
  border-style: solid;
  border-width: 20px;
  top: 40px;
  content: " ";
  display: block;
  right: 75%;
  position: relative;
}
.photo{

}
.tPhoto{
  height: 75px;
  width: 75px;
  border-radius: 50%;
  float: left;
  background: transparent;
}
.identity{
  float: right;
  margin-right: 230px;
  margin-top: 15px;
  background: transparent;
}
.topBold{
  font-weight: 550;
  font-size: 18px;
  margin-bottom: 5px;
  text-align: left;
  color: #fef9ef;

}
.bottomLight{
  color: #d9ae94;
  font-size: 15px;
}

.aroL{
  float: left;
  height: 50px;
  width: 60px;
  margin-top: -100px;
  margin-left: -70px;
  background-color: #d6cfcb;
  padding: 11px;
  text-decoration: none;
}
.aroL a{
  text-decoration: none;
  color: #b08968;
  font-size: 30px;
}
.aroL:hover{
  background-color: #b08968;
  }
.aroL:hover a{
  color: #d6cfcb;

}

.aroR{
  color: white;
  float: right;
  height: 50px;
  width: 60px;
  margin-top: -90px;
  margin-right: -70px;
  background-color: #d6cfcb;
  padding: 11px;
}
.aroR a{
  text-decoration: none;
  color: #b08968;
  font-size: 30px;
}
.aroR:hover{
  background-color: #b08968;
  }
.aroR:hover a{
  color: #d6cfcb;

}
.employee{
  height: 700px;

}
.employeeTop{
  height: 200px;
  color: #774936;
}
.top1{
   color: #774936;
   margin-left: 600px;
   padding-top: 100px;
   height: 30px;
   font-size: 15px;
   padding-bottom: 30px;
}
.etop2{
  color:black;
  margin-left: 550px;
  height: 50px;
  font-size: 40px;
  padding-bottom: 100px;
  font-weight: 540;
  font-family: serif;
}

.employeeBottom{
  height: 400px;
  background-color: #fff;
  padding-left: 70px;
}
.employeeOverlap{
  height: 400px;
  margin-top: 100px;
 }
.employeeContainer {
  position: relative;
  width: 50%;
  max-width: 300px;
  float: left;
}

/* Make the image to responsive */
.imageEmployee {
  width: 280px;
  height: 300px;
}

/* The overlay effect - lays on top of the container and over the image */
.employeeOverlay {
  position: absolute;
  top: 0;
  background: rgb(0, 0, 0);
  background: white; /* Black see-through */
  color: black;
  width: 20%;
  height: 150px;
  transition: .5s ease;
  opacity:0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.employeeOverlay a{
  text-decoration: none;
  margin: 3px;
  color:#847577 ;
}

/* When you mouse over the container, fade in the overlay title */
.employeeContainer:hover .employeeOverlay {
  opacity: 1;
}
.nameSection{
  height: 100px;
  margin-top: 20px;

}
.upperName{
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 10px;
  margin-left:100px ;
}
.lowerName{
  color: #adb5bd;
  font-size: 15px;
  margin-left: 120px;
}

.bTop{
  height: 300px;
  margin-top: 200px;
  margin-bottom: 100px;
}
.bTop2{
  margin-left: 570px;
  height: 50px;
  font-size: 40px;
  padding-bottom: 150px;
  font-weight: 540;
  font-family: serif;
  color: #2d3142;
}
.bBottom{
  height:400px ;
}
.grid {
  position: relative;
  margin: 0 auto;
  margin-left: 100px;
  margin-right: 100px;
  max-width: 100%;
  list-style: none;
  text-align: left;
}
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin-right: 20px;
  min-width: 500px;
  max-width: 550px;
  max-height: 350px;
  width: 40%;
  background: #3085a3;
  text-align: left;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}
figure.effect-ruby {
  background-color: #17819c;
}

figure.effect-ruby img {
  opacity: 1.0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

figure.effect-ruby:hover img {
  opacity: 1.0;
  -webkit-transform: scale(1);
  transform: scale(1.5);
}
.rubyImage{
  height: 400px;
  width: 550px;
}
.figureBox{
  height: 200px;
}
.boxDetails{
  height: 200px;
  width: 250px;
  margin-left: 250px;
  float: left;
  background-color: white;
}

.boxDetails2{
  height: 200px;
  width: 250px;
  margin-left: 350px;
  float: left;
  background-color: white;
}

.topDetail{
  height: 40px;
  width: inherit;
}
.topDetailLeftA{
 color: #a5a58d;
  font-size: 13px;
  text-decoration: none;
  float: left;
}
.topDetailRightB{
  color: #a5a58d;
  font-size: 15px;
  margin-right: 78px;
  text-decoration: none;
  float: right;
}
.middleDetail{
  height:70px ;
}
.middleDetails{
    line-height: 30px;
  text-decoration: none;
  font-weight: bold;
  color: #333533;
  font-size: 17px;
}
.bottomDetail{
    height: 50px;
    margin-top: 20px;

}
.bottomRead{
  text-decoration: none;
    font-size: 18px;
    color: #f19c79;
}

.lastDiv{
  height: 500px;
  background-color: #323031;
}
.nonFooter{
height: 400px;
margin-left: 100px;
margin-bottom: 10px;
margin-right: 50px;

}
.nonFooterLeft{
  height:380px;
  width: 300px;
  float: left;
  padding-top: 100px;

}
.nonFooterLeftTop a{
  color: white;
  letter-spacing: 5px;
  font-size: 30px;
  text-decoration: none;
}
.nonFooterLeftMiddle{
  color: #7a7a7a;
  margin-top: 15px;
  line-height: 28px;
}
.nonFooterLeftBottom a{
  color: #fbfbf2;
  margin-top: 15px;
  text-decoration: none;
  margin-right: 15px;
}
.nonFooterMiddle{
  height: 380px;
  width: 200px;
  float: left;
  margin-left: 20px;
  padding-top: 100px;

}
.nonFooterMiddleTitle{
  color: #fafac6;
  font-size: 15px;
  margin-bottom: 30px;
}
.nonFooterMiddleLink{

}
.nonFooterMiddleLinkLeft{
  float: left;
  height: inherit;
  width: 5px;
}
.nonFooterMiddleLinkLeft i{
  color: #fafac6;
  letter-spacing: 10px;
}
.nonFooterMiddleLinkRight{
  float: right;
  height: inherit;
  width: 180px;
}

.nonFooterMiddleLinkRight a{
  text-decoration: none;
  color: #fff;
}
.nonFooterMiddleLinkRight a:hover{
  color: #fafac6;
}
.nonFooterRight{
  height: 380px;
  width: 600px;
  float: right;
  padding-top: 100px;
}
.nonFooterRightFirst{
  height: inherit;
  width: 170px;
  float: left;
}
.firstKo{
  color: #fafac6;
  font-size: 15px;
  height: 25px;
  border-bottom:solid 1px #7a7a7a ;
}
.secondKo{
  margin-top: 45px;
  line-height: 30px;
  color: #7a7a7a;
}
.nonFooterRightSecond{
  height: inherit;
  width: 170px;
  float: left;
  margin-left: 30px;
}
.nonFooterRightThird{
  height: inherit;
  width: 170px;
  float: left;
  margin-left: 30px;
}

.footer{
  height: 100px;
  border-top: solid 1px #343434; 
  color: #7a7a7a;
  font-size: 15px;
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
}
.footerLeft{
  float: left;
}
.footerRight{
  float: right;
}
