body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}

.navbar{
      height: 100px;
      font-weight: bold;
      padding-left: 100px;
      width: 100%;
      background: transparent;
      position: fixed;
      border-bottom: solid 1px #343434; 
      padding: 30px;
      background-color: white;
      z-index: 5;
}
.navbar a {
  float: left;
  font-size: 15px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding-left: 20px;
}
#search{
  color: black;
  padding: 10px;
  margin-left: 20px;
  border-left:solid 1px #343434; 
  padding-left: 30px;
}
.logo a{
  color: black;
  letter-spacing: 5px;
  font-size: 30px;
  text-decoration: none;
  font-family: cursive;
  margin-right: 300px;
  padding: 10px;
}
.dropdown {
  float: left;
  overflow:hidden;
  font-size: 15px;
}

.dropbtn {
  font-size: 20px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-weight: bold;
  font-size: 15px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  margin-left: 3px;
  background-color: white;
  color: #b08968;
}
.dropdown:hover .dropdown-content {
  display: block;
}
#fb{
  padding: 10px;
  padding-left: 20px;
  margin-left: 20px;
  border-left: solid 1px #343434;
}
.bg-image {
  background-image: url("background.jpg");
  background-color: #cccccc;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bg-text {
  position: absolute;
  color: white;
  top: 30%;
}

.content{
    height: 400px;
    margin-left: 250px;
    align-items: center;
}

.innovative{
   text-align: center;
}
.innovativeArc{
  color: white;
  font-size: 60px;
  text-decoration: none;
  line-height: 70px;
}
.text{
      color: white;
      font-size: 18px;
      padding-bottom: 30px;
      text-align: center;
}
.discover{
      text-align: center;
}
.discoverBtn{
  border: solid 1px white;
      text-decoration: none;
      color: white;
      padding: 10px;
      font-size: 18px;
      margin-top: 50px;
}
.discoverBtn:hover{
  background-color: #fff;
  color: #b08968;
}
.socialIcons{
  margin-left: 100px;
}
.socialIcons a{
  text-decoration: none;
  margin-right: 10px;
  color: white;
  font-size: 20px;
}
.services{
  height: 800px;
  background-color: beige;
}
.serviceTop{
  height: 300px;
  color: #774936;
}
.top1{
   color: #774936;
   margin-left: 600px;
   padding-top: 100px;
   height: 30px;
   font-size: 15px;
   padding-bottom: 20px;
}
.top2{
  color:#2d3142;
  margin-left: 550px;
  height: 50px;
  font-size: 40px;
  padding-bottom: 100px;
  font-weight: 540;
  font-family: serif;
}
.serviceBottom{
  height: 400px;
  margin-left: 100px;
  margin-right: 100px;
}
.serviceBottomLeft{
  float: left;
  height: inherit;
  width: 340px;
  margin-right: 49px;
  background-image: url("portfolioImage1.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}
.serviceBottomMiddle{
  float: left;
  height: inherit;
  width: 340px;
  margin-right: 49px;
  background-image: url("portfolioImage2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.serviceBottomRight{
  float: left;
  height: inherit;
  width: 340px;
  background-image: url("portfolioImage3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.imageEffect{
  background-color: #fff;
  height: 400px;
  width: inherit;
  padding-top: 50px;
}
.inner1 i{
  color: #deb887;
  padding: 20px;
  font-size: 50px;
}
.inner2{
  margin: 20px;
  font-weight: bolder;
  font-size: 25px;
  color: #343a40;
}
.inner3{
  padding-left: 20px;
  padding-right: 20px;
  color: #adb5bd;
}
.inner4{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  
}
.inner4 a{
  color: #343a40;
  text-decoration: none;
  font-weight: 600;
}
.imageEffect:hover {
  background: transparent;
}

.inner2:hover{
  color: #fff;
}
.inner4 a:hover{
  color: #deb887;
}

.portfolio{
  height: 1000px;
  background-color: #323031;
}
.portfolioTop{
  height: 300px;
  color: #774936;
}
.ptop2{
  color:#fff;
  margin-left: 550px;
  height: 50px;
  font-size: 40px;
  padding-bottom: 100px;
  font-weight: 540;
  font-family: serif;
}
.portfolioBottom{
  height: 600px;
}
.imagesDiv{
  height: inherit;
  width: 600px;
  float: left;
  margin: 30px;
}
.imageTopLeft{
  background-image: url("portfolioImage3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  width: inherit;
}
.imageTopRight{
  background-image: url("portfolioImage2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  width: inherit;
}
.imageDesc{
  text-align: center;
  padding-top: 50px;
}
.descTop{
  margin-bottom: 10px;
}
.descTop a{
  color: #774936;
  font-size:15px ;
  text-decoration: none;
}

.descBottom a{
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}
.arrowLeft{
  padding-top: 200px;
}
.arrowRight{
  padding-top: 200px;
  float: right;
}
.arrowRight a{
  text-decoration: none;
  color: black;
}
.arrowLeft a{
  text-decoration: none;
  color: black;
}
.arrow{
  height: 10px;
  width: 10px;
  background-color: #fff;
  padding: 30px;
}
.rightArrow{
  height: 10px;
  width: 10px;
  background-color: #fff;
  padding: 30px;
}
.weDo{
  height: 500px;
  background-color: ghostwhite;
  padding-left: 100px;
  padding-right:100px ;
  padding-top: 100px;
  margin-bottom: 10px;
}
.doLeft{
  height: 400px;
  width: 400px;
  float: left;
  margin-right: 30px;
}
.doLeftTop{
  font-size: 40px;
  color: black;
  font-weight: bold;
  line-height: 60px;
  font-family: serif;
  margin-bottom: 25px;
}
.doLeftBottom{
  color: #a9a9a9;
  line-height: 30px;
  font-size: 17px;
}
.doMiddle{
  height: 400px;
  width: 300px;
  float: left;
  padding-top: 50px;
}
.doMiddleDiv1{
  height: 50px;
  width: inherit;
  margin-bottom: 5px;
  border-bottom: solid 1px #d3d3d3;
}
.numDiv{
  float: left;
  height: inherit;
  width:40px ;
   font-size: 15px;
   color:#a9a9a9 ;
   padding-top: 6px;
}
.textDiv{
  float: left;
  height: inherit;
  font-weight: bold;
  color: black;
  padding-top: 6px;
  font-size: 15px;
}
.doMiddleDiv2{
  height: 50px;
  width: inherit;
  margin-bottom: 5px;
  border-bottom: solid 1px #d3d3d3;
}
.doMiddleDiv3{
  height: 50px;
  width: inherit;
  margin-bottom: 5px;
  border-bottom: solid 1px #d3d3d3;
}
.doMiddleDiv4{
  height: 50px;
  width: inherit;
  margin-bottom: 5px;
  border-bottom: solid 1px #d3d3d3;
}
.doRight{
  height: 400px;
  width: 300px;
  float: right;
}
.playButton{
  float: left;
  color: black;
  margin-top: 100px;
  margin-left: 80px;
}
.bestWork{
  height: 600px;
  background-image: url("bestWork.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.bestImage{
  
}
.imageBackground{
  height: 300px;
  text-align: center;
  padding-top: 100px;
}
.upBackgroundText{
  color: #f7b267;
  font-size: 15px;
  margin-bottom: 15px;
  letter-spacing: 2px;
}
.downBackgroundText{
  color: #463f3a;
  font-size: 35px;
  font-weight: bold;
  line-height: 50px;
  letter-spacing: 2px;
}
.houseDiv{
  height: 600px;
  margin-top: -250px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
  background-color: white;
}
.leftHouse{
  float: left;
  height: inherit;
  width: 565px;
}
.house:hover{
  opacity: 0.8;
}
.rightHouse{
  float: right;
  height: inherit;
  width: 565px;
}
.house{
  height: inherit;
  width: inherit;
}

.text{
  height: 10px;
  margin-left: -500px;
  margin-top: -300px;
  color: transparent;
}
.textBefore{
  height: 20px;
  text-align: right;
  margin-top: -300px;
  color: transparent;
}
.centerIcon{
  margin-left: -20px;
  margin-top: -30px;
}
.centerIcon a{
  text-decoration: none;
  color: #eee2df;
  font-size: 40px;
}

.knowledge{
  height: 300px;
  margin-left: 100px;
  margin-right: 100px;
}
.box{
  height: 150px;
  width: 260px;
  border: solid 1px #f8f8ff;
  float: left;
  margin-right: 20px;
  text-align: center;
}
.boxTop{
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 40px;
  margin-top: 20px;
  color: #a98467;
}

.boxBottom{
  font-size: 13px;
  color: #403d39;
}

.employees{
  height: 650px;
}
.employeeLeft{
  height: 550px;
  width: 674px;
  float: left;
  background-color: #f1f7ed;
}
.employeContent{
  height: 350px;
  width: inherit;
  padding-left: 100px;
  padding-right: 150px;
  padding-top: 100px;
}
.empTop{
  color:#b2967d;
  font-size: 18px;
  font-weight: bold;
  font-family: monospace;
  margin-bottom: 20px;
}
.empMiddle{
  color: #212529;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 20px;
}
.empBottom{
  color: #adb5bd;
  font-size: 17px;
  line-height: 28px;
}
.employeArrow{
  height: 50px;
  margin-left: 100px;
}
.employeArrow a{
  text-decoration: none;
  color: black;
}
.ltArrow{
  float: left;
  margin-right: 5px;
  height: 50px;
  width: 65px;
  background-color: #d6cfcb;
  padding: 18px;
}
.ltArrow:hover{
  background-color: #847577;
}
.rtArrow{
  float: left;
  margin-right: 50px;
  height: 50px;
  width: 65px;
  background-color:#d6cfcb;
  padding: 18px;
}
.rtArrow:hover{
  background-color: #847577;
}
.employeeRight{
  height: 650px;
  width: 655px;
  float: right;
  background-color: #f4f1de;
}
.employeeOverlap{
  height: 500px;
  margin-top: 100px;
 }
.employeeContainer {
  position: relative;
  width: 50%;
  max-width: 300px;
  float: left;
}

/* Make the image to responsive */
.imageEmployee {
  width: 280px;
  height: 300px;
}

/* The overlay effect - lays on top of the container and over the image */
.employeeOverlay {
  position: absolute;
  top: 0;
  background: rgb(0, 0, 0);
  background: white; /* Black see-through */
  color: black;
  width: 20%;
  height: 150px;
  transition: .5s ease;
  opacity:0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.employeeOverlay a{
  text-decoration: none;
  margin: 3px;
  color:#847577 ;
}

/* When you mouse over the container, fade in the overlay title */
.employeeContainer:hover .employeeOverlay {
  opacity: 1;
}
.nameSection{
  height: 100px;
  margin-top: 20px;

}
.upperName{
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 10px;
  margin-left:100px ;
}
.lowerName{
  color: #adb5bd;
  font-size: 15px;
  margin-left: 120px;
}

.testimonials{
  height: 600px;
}
.tTop{
  height: 300px;
}
.tTop2{
  margin-left: 500px;
  height: 50px;
  font-size: 40px;
  padding-bottom: 150px;
  font-weight: 540;
  font-family: serif;
  color: #2d3142;
}
.tBottom{
  height: 400px;
  padding-left: 150px;
  padding-right: 150px;
}

/* Contain demo size */
.contain {
  width: 500px;
  border: solid 10px #eaf4f4;
  float: left;
}

.quote {
  background-color: #f6fff8;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color:#706677 ;
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-style: oblique;
  line-height: 35px;
}

.tname {
  background-color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: black;
  height: 100px;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* Reset */
blockquote {
  padding: 0;
  margin: 0;
}

blockquote::after {
  border-color: transparent #f6fff8 transparent transparent;
  border-image: none;
  border-style: solid;
  border-width: 20px;
  top: 40px;
  content: " ";
  display: block;
  right: 75%;
  position: relative;
}
.photo{

}
.tPhoto{
  height: 75px;
  width: 75px;
  border-radius: 50%;
  float: left;
}
.identity{
  float: right;
  margin-right: 230px;
  margin-top: 15px;
}
.topBold{
  font-weight: 550;
  font-size: 18px;
  margin-bottom: 5px;
  text-align: left;
  color: #2d3142;

}
.bottomLight{
  color: #d9ae94;
  font-size: 15px;
}

.contain1 {
  width: 500px;
  border: solid 10px #eaf4f4;
  float: right;
}

.blogs{
  height: 1000px;
}
.bTop{
  height: 300px;
}
.bTop2{
  margin-left: 570px;
  height: 50px;
  font-size: 40px;
  padding-bottom: 150px;
  font-weight: 540;
  font-family: serif;
  color: #2d3142;
}
.bBottom{
  height:400px ;
}
.grid {
  position: relative;
  margin: 0 auto;
  padding: 2em 0 4em;
  max-width: 1000px;
  list-style: none;
  text-align: left;
}
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 300px;
  max-width: 310px;
  max-height: 350px;
  width: 50%;
  background: #3085a3;
  text-align: left;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}
figure.effect-ruby {
  background-color: #17819c;
}

figure.effect-ruby img {
  opacity: 1.0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

figure.effect-ruby:hover img {
  opacity: 1.0;
  -webkit-transform: scale(1);
  transform: scale(1.5);
}
.rubyImage{
  height: 350px;
  width: 400px;
}
.figureBox{
  height: 200px;
}
.boxDetails{
  height: 200px;
  width: 250px;
  margin-left: 250px;
  background-color: white;
  float: left;
}

.boxDetails2{
  height: 200px;
  width: 250px;
  margin-left: 80px;
  background-color: white;
  float: left;
}

.topDetail{
  height: 40px;
  width: inherit;
}
.topDetailLeftA{
 color: #a5a58d;
  font-size: 13px;
  text-decoration: none;
  float: left;
}
.topDetailRightB{
  color: #a5a58d;
  font-size: 15px;
  margin-right: 78px;
  text-decoration: none;
  float: right;
}
.middleDetail{
  height:70px ;
}
.middleDetails{
    line-height: 30px;
  text-decoration: none;
  font-weight: bold;
  color: #333533;
  font-size: 17px;
}
.bottomDetail{
    height: 50px;
    margin-top: 20px;

}
.bottomRead{
  text-decoration: none;
    font-size: 18px;
    color: #f19c79;
}

.lastDiv{
  height: 500px;
  background-color: #323031;
}
.nonFooter{
height: 400px;
margin-left: 100px;
margin-bottom: 10px;
margin-right: 50px;

}
.nonFooterLeft{
  height:380px;
  width: 300px;
  float: left;
  padding-top: 100px;

}
.nonFooterLeftTop a{
  color: white;
  letter-spacing: 5px;
  font-size: 30px;
  text-decoration: none;
}
.nonFooterLeftMiddle{
  color: #7a7a7a;
  margin-top: 15px;
  line-height: 28px;
}
.nonFooterLeftBottom a{
  color: #fbfbf2;
  margin-top: 15px;
  text-decoration: none;
  margin-right: 15px;
}
.nonFooterMiddle{
  height: 380px;
  width: 200px;
  float: left;
  margin-left: 20px;
  padding-top: 100px;

}
.nonFooterMiddleTitle{
  color: #fafac6;
  font-size: 15px;
  margin-bottom: 30px;
}
.nonFooterMiddleLink{

}
.nonFooterMiddleLinkLeft{
  float: left;
  height: inherit;
  width: 5px;
}
.nonFooterMiddleLinkLeft i{
  color: #fafac6;
  letter-spacing: 10px;
}
.nonFooterMiddleLinkRight{
  float: right;
  height: inherit;
  width: 180px;
}

.nonFooterMiddleLinkRight a{
  text-decoration: none;
  color: #fff;
}
.nonFooterMiddleLinkRight a:hover{
  color: #fafac6;
}
.nonFooterRight{
  height: 380px;
  width: 600px;
  float: right;
  padding-top: 100px;
}
.nonFooterRightFirst{
  height: inherit;
  width: 170px;
  float: left;
}
.firstKo{
  color: #fafac6;
  font-size: 15px;
  height: 25px;
  border-bottom:solid 1px #7a7a7a ;
}
.secondKo{
  margin-top: 45px;
  line-height: 30px;
  color: #7a7a7a;
}
.nonFooterRightSecond{
  height: inherit;
  width: 170px;
  float: left;
  margin-left: 30px;
}
.nonFooterRightThird{
  height: inherit;
  width: 170px;
  float: left;
  margin-left: 30px;
}

.footer{
  height: 100px;
  border-top: solid 1px #343434; 
  color: #7a7a7a;
  font-size: 15px;
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
}
.footerLeft{
  float: left;
}
.footerRight{
  float: right;
}
