body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
   box-sizing: border-box;
}
* {
    box-sizing: border-box;
}


.navbar{
      height: 100px;
      font-weight: bold;
      padding-left: 100px;
      width: 100%;
      position: fixed;
      border-bottom: solid 1px #343434; 
      padding: 30px;
      background-color: white;
      z-index: 5;
}
.navbar a {
  float: left;
  font-size: 15px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding-left: 20px;
}
#search{
  color: black;
  padding: 10px;
  margin-left: 20px;
  border-left:solid 1px #343434; 
  padding-left: 30px;
}
.logo a{
  color: black;
  letter-spacing: 5px;
  font-size: 30px;
  text-decoration: none;
  font-family: cursive;
  margin-right: 300px;
  padding: 10px;
}
.dropdown {
  float: left;
  overflow:hidden;
  font-size: 15px;
}

.dropbtn {
  font-size: 20px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-weight: bold;
  font-size: 15px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  margin-left: 3px;
  background-color: white;
  color: #b08968;
}
.dropdown:hover .dropdown-content {
  display: block;
}
#fb{
  padding: 10px;
  padding-left: 20px;
  margin-left: 20px;
  border-left: solid 1px #343434;
}
.bg-image {
  background-image: url("bolgsBackground.png");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bg-text {
  position: absolute;
  top: 45%;
  left: 30%;
  color: white;

}
.content{
    height: 350px;
    width: 100%;
}
.upperContent{
  height: 110px;
  font-size: 70px;
  font-weight: bold;
  color: #fff;
}

.lowerContent{
  font-size: 20px;
  height: 100px;
  margin-left: 50px;
}

.lowerContentLeft{
  height: inherit;
  width: 80px;
  float: left;
}
.lowerContentLeft a{
  text-decoration: none;
  color: #fff;
}
.lowerContentRight{
  height: inherit;

}
.lowerContentRight a{
  text-decoration: none;
  color: #cb997e;
  font-size: 22px;
}

.blogsFirst{
  height: 800px;
  padding: 200px;
}
.blogsFirstUpper1{
  background-image: url("interior1.jpg");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.blogsFirstUpper2{
  background-image: url("aboutUs.jpg");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.blogsFirstUpper3{
  background-image: url("aboutUs2.jpg");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.blogsFirstUpper4{
  background-image: url("interiorImage.jpg");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.date{
  height: 100px;
  width: 60px;
  background-color: #fff;
  float: right;
}
.upperDate{
  height: 50px;
  font-size: 40px;
  font-weight: bold;
  color: #a78a7f;
  border-bottom: solid 1px #f4f3ee;
  padding: 10px;
  padding-top: 0;
}
.lowerDate{
  height: 50px;
  color: #a78a7f;
  font-size: 15px;
  padding: 10px;
  padding-bottom: 0;
  letter-spacing: 1px;
  padding-left: 15px;
  font-weight: 550;
}
.blogsFirstLower{
  height: 400px;
  padding-top: 100px;
  padding-left: 50px;
}
.blogsFirstLowerOne{
  height: 25px;
  color: #ddb892;
  width: 270px;
}
.blogsFirstLowerOne a{
  text-decoration: none;
}
.one{
  height: inherit;
  width: 80px;
  float: left;
  margin-right: 10px;
}
.two{
  height: inherit;

  float: left;
  margin-right: 10px;
}
.three{
  height: inherit;
  width: 80px;
  float: left;
  margin-right: 20px;
}
.four{
  height: inherit;
  float: left;
  margin-right: 10px;
}
.five{
  height: inherit;
  width: 10px;
  float: left;
  margin-right: 2px;
}
.blogsFirstLowerTwo{
  height: 50px;
  margin-top: 15px;
  margin-bottom: 15px;

}
.blogsFirstLowerTwo a{
  text-decoration: none;
  color: #212529;
  font-weight: 900;
  font-size: 30px;
}
.blogsFirstLowerThree{
  font-size: 17px;
  color: #adb5bd;
  line-height: 30px;
  margin-bottom: 20px;
}
.blogsFirstLowerFour {
  font-size: 17px;
  
}
.blogsFirstLowerFour a{
  text-decoration: none;
  color: #432818;
}
.blogsFirstLowerFour a:hover{
  color: #99582a;
}
.nextPage{
  margin-top: 200px;
  height: 100px;
  margin-left: 100px;
  margin-right: 100px;
  padding-left: 500px;
  padding-top: 20px;
  margin-bottom: 50px;
}
.nextPage a{
  text-decoration: none;
}
.nextOne{
  height: 50px;
  width: 50px;
  padding: 15px;
  border: solid 1px #582f0e;
  margin-right: 5px;
  font-size: 22px;
  float: left;
  text-decoration: none;
  color: #936639;
}
.nextTwo {
  height: 50px;
  width: 50px;
  padding: 15px;
  border: solid 1px #f0efeb;
  margin-right: 5px;
  font-size: 22px;
  float: left;
  text-decoration: none;
  color: #343a40;
}
.arw{
  height: 50px;
  width: 50px;
  padding: 15px;
  border: solid 1px #f0efeb;
  font-size: 22px;
  float: left;
  text-decoration: none;
  color: #343a40;
}
.lastDiv{
  height: 500px;
  background-color: #323031;
}
.nonFooter{
height: 400px;
margin-left: 100px;
margin-bottom: 10px;
margin-right: 50px;

}
.nonFooterLeft{
  height:380px;
  width: 300px;
  float: left;
  padding-top: 100px;

}
.nonFooterLeftTop a{
  color: white;
  letter-spacing: 5px;
  font-size: 30px;
  text-decoration: none;
}
.nonFooterLeftMiddle{
  color: #7a7a7a;
  margin-top: 15px;
  line-height: 28px;
}
.nonFooterLeftBottom a{
  color: #fbfbf2;
  margin-top: 15px;
  text-decoration: none;
  margin-right: 15px;
}
.nonFooterMiddle{
  height: 380px;
  width: 200px;
  float: left;
  margin-left: 20px;
  padding-top: 100px;

}
.nonFooterMiddleTitle{
  color: #fafac6;
  font-size: 15px;
  margin-bottom: 30px;
}
.nonFooterMiddleLink{

}
.nonFooterMiddleLinkLeft{
  float: left;
  height: inherit;
  width: 5px;
}
.nonFooterMiddleLinkLeft i{
  color: #fafac6;
  letter-spacing: 10px;
}
.nonFooterMiddleLinkRight{
  float: right;
  height: inherit;
  width: 180px;
}

.nonFooterMiddleLinkRight a{
  text-decoration: none;
  color: #fff;
}
.nonFooterMiddleLinkRight a:hover{
  color: #fafac6;
}
.nonFooterRight{
  height: 380px;
  width: 600px;
  float: right;
  padding-top: 100px;
}
.nonFooterRightFirst{
  height: inherit;
  width: 170px;
  float: left;
}
.firstKo{
  color: #fafac6;
  font-size: 15px;
  height: 25px;
  border-bottom:solid 1px #7a7a7a ;
}
.secondKo{
  margin-top: 45px;
  line-height: 30px;
  color: #7a7a7a;
}
.nonFooterRightSecond{
  height: inherit;
  width: 170px;
  float: left;
  margin-left: 30px;
}
.nonFooterRightThird{
  height: inherit;
  width: 170px;
  float: left;
  margin-left: 30px;
}

.footer{
  height: 100px;
  border-top: solid 1px #343434; 
  color: #7a7a7a;
  font-size: 15px;
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
}
.footerLeft{
  float: left;
}
.footerRight{
  float: right;
}
