body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
   box-sizing: border-box;
}
* {
    box-sizing: border-box;
}


.navbar{
      height: 100px;
      font-weight: bold;
      padding-left: 100px;
      width: 100%;
      position: fixed;
      border-bottom: solid 1px #343434; 
      padding: 30px;
      background-color: white;
}
.navbar a {
  float: left;
  font-size: 15px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding-left: 20px;
}
#search{
  color: black;
  padding: 10px;
  margin-left: 20px;
  border-left:solid 1px #343434; 
  padding-left: 30px;
}
.logo a{
  color: black;
  letter-spacing: 5px;
  font-size: 30px;
  text-decoration: none;
  font-family: cursive;
  margin-right: 300px;
  padding: 10px;
}
.dropdown {
  float: left;
  overflow:hidden;
  font-size: 15px;
}

.dropbtn {
  font-size: 20px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-weight: bold;
  font-size: 15px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  margin-left: 3px;
  background-color: white;
  color: #b08968;
}
.dropdown:hover .dropdown-content {
  display: block;
}
#fb{
  padding: 10px;
  padding-left: 20px;
  margin-left: 20px;
  border-left: solid 1px #343434;
}
.bg-image {
  background-image: url("bolgsBackground.png");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bg-text {
  position: absolute;
  top: 45%;
  left: 30%;
  color: white;

}
.content{
    height: 350px;
    width: 100%;
}
.upperContent{
  height: 110px;
  font-size: 70px;
  font-weight: bold;
  color: #fff;
}

.lowerContent{
  font-size: 20px;
  height: 100px;
  margin-left: 50px;
}

.lowerContentLeft{
  height: inherit;
  width: 150px;
  float: left;
}
.lowerContentLeft a{
  text-decoration: none;
  color: #fff;
}
.lowerContentRight{
  height: inherit;
  width: 195px;
  float: right;
}
.lowerContentRight a{
  text-decoration: none;
  color: #d69f7e;
  font-size: 20px;
}
.titleB{
  height:300px ;
  padding-top: 100px;
}
.titleTop{
  height: 50px;
  font-weight: 900;
  color: #212529;
  font-size: 30px;
  padding-left: 400px;
}
.titleBottom{
  height: 50px;
  padding-left: 450px;
  margin-top: 30px;
  text-align: center;
}
.titleBottom a{
  text-decoration: none;
  color: #adb5bd;
}
.one{
  height: inherit;
  width: 110px;
  float: left;
  margin-right: 5px;
  letter-spacing: 1px;
  font-size: 15px;
}
.two{
  height: inherit;
  float: left;
  margin-right: 15px;
  color: #adb5bd;
}
.three{
  height: inherit;
  width: 130px;
  float: left;
  margin-right: 10px;
  font-size: 15px;
  letter-spacing: 1px;
}
.five{
  height: inherit;
  width: 120px;
  float: left;
  letter-spacing: 1px;
  font-size: 15px;
}
.imageD{
  height: 400px;
  background-image: url("portfolioImage2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 70px;
}
.textOnly{
  height: 1820px;
  margin-left: 270px;
  margin-right: 270px;
}
.textOnlyOne{
  height: 100px;
  font-size: 18px;
  font-weight: 550;
  color: black;
  line-height: 30px;
  margin-bottom: 20px;
}
.textOnlyTwo{
  height: 150px;
  font-size: 18px;
  color:#adb5bd ;
  line-height: 30px;
  margin-bottom: 20px;
}
.textOnlyThree{
  height: 30px;
  font-size: 18px;
  font-weight: 550;
  color: black;
  line-height: 30px;
  margin-bottom: 20px;
}
.textOnlyFour{
  height: 150px;
  font-size: 18px;
  color:#adb5bd ;
  line-height: 30px;
  margin-bottom: 20px;
}
.textOnlyFive{
  height: 150px;
  font-size: 17px;
  line-height: 30px;
  color: #6c757d;
  margin-bottom: 30px;
}
.bgColorText{
  height: 200px;
  background-color: #f0efeb;
  padding: 50px;
  font-size: 20px;
  font-style: oblique;
  line-height: 30px;
}
.imageBlog{
  height: 300px;
  margin-top: 30px;
}
.imageBlogLeft{
  height: inherit;
  width: 390px;
  float: left;
  background-image: url("blogDetails1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.imageBlogRight{
  height: inherit;
  width: 390px;
  float: right;
  background-image: url("blogDetails1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.textOfBlogs{
   height: 150px;
  font-size: 18px;
  color:#adb5bd ;
  line-height: 30px;
  margin-top: 30px;
  border-bottom: solid 1px black;

}
.iconBlogs{
  height: 100px;
  padding-top: 20px;
}
.leftIconBlogs{
  height: inherit;
  width: 200px;
  float: left;
}
.leftIconBlogs a{
  text-decoration: none;
  color: black;
  margin-right: 20px;
}
.rightIconBlogs{
  height: inherit;
  width: 250px;
  float: right;
}
.rightIconBlogs a{
  text-decoration: none;
  color:#6b705c ;
  font-size: 14px;
}
.oneBlogs{
  height: inherit;
  width: 30px;
  float: left;
  margin-right: 5px;
}
.twoBlogs{
  height: inherit;
  width: px;
  float: left;
  color: #6b705c;
  margin-right: 10px;
}
.threeBlogs{
  height: inherit;
  width: 80px;
  float: left;
  margin-right: 5px;
}
.fiveBlogs{
  height: inherit;
  width: 80px;
  float: left;
  margin-right: 5px;
}
.author{
  height: 300px;
  background-color: #f8f9fa;
  padding: 50px;
}
.authorImage{
  height: 200px;
  width: 200px;
  float: left;
}
.tImage{
  height: 200px;
  width: 200px;
}
.authorDesc{
  height: 200px;
  width: 460px;
  float: right;
}
.authorDescTop{
  height: 40px ;
}
.topLeft{
  height: inherit;
  width: 70px;
  float: left;
  font-size: 16px;
  font-weight: 550;
  color: #212529;
}
.topRight{
  height: inherit;
  width: 150px;
  float: left;
  margin-left: 10px;
  font-size: 14px;
  color: #343a40;
  font-weight: 550;
}

.authorDescMiddle{
  height: 100px;
  font-size: 17px;
  color:#8d99ae ;
  line-height: 30px;
}
.authorDescBottom{
  height: 50px;
  margin-top: 10px;
}
.authorDescBottom a{
  text-decoration: none;
  color: black;
  margin-right: 10px;
}
.post{
  height: 70px;
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 10px;
}
.leftPost{
  height: inherit;
  width: 535px;
  border: solid 1px #dee2e6; 
  float: left;
  padding: 25px;
}
.leftPost a{
  text-decoration: none;
  color: #495057;
  font-size: 15px;
  font-weight: 550;
}
.middlePost{
  height: inherit;
  width: 70px;
  border: solid 1px #dee2e6; 
  float: left;
  padding: 25px;
}
.middlePost a{
  text-decoration: none;
  color:#495057 ;
}
.rightPost{
  height: inherit;
  width: 535px;
  float: right;
  border: solid 1px #dee2e6; 
  padding: 25px;
}
.rightPost a{
  text-decoration: none;
  color: #495057;
  font-size: 15px;
  float: right;
  font-weight: 550;
}
.comments{
  height: 100px;
  margin-left: 100px;
  margin-right: 100px;
  font-weight: bold;
  font-size: 25px;
  margin-top: 80px;
  margin-bottom: 50px;

}
.authors{
  height: 150px;
  padding-left: 0;
  margin-right: 100px;
  margin-left: 100px;
  border-bottom: solid 1px #dee2e6;
  margin-bottom: 20px;
}
.authorImages{
  height: 100px;
  width: 100px;
  float: left;
}
.tImages{
  height: 100px;
  width: 100px;
}
.authorDescs{
  height: 100px;
  width: 1000px;
  float: right;
}

.authorDescTops{
  height: 25px ;
}
.topLefts{
  height: inherit;
  width: 150px;
  float: left;
  font-size: 16px;
  font-weight: 550;
  color: #212529;
}
.topRights{
  height: inherit;
  width: 840px;
  float: left;
  margin-left: 10px;
  font-size: 14px;
  color: #343a40;
  font-weight: 550;
}
.rightLeft{
  height: inherit;
  width: 790px;

  float: left;
  padding-left: 760px;
}
.rightLeft a{
  text-decoration: none;
  color: black;
}
.rightRight{
  height: inherit;
  width:50px ;
  float: right;
}
.rightRight a{
  text-decoration: none;
  color: black;
  float: right;
  padding-right: 5px;
}
.dateSmall{
  height: 20px;
  font-size: 12px;
  margin-bottom: 10px;
  color: #b07d62;
}
.authorDescMiddles{
  height: 100px;
  font-size: 17px;
  color:#8d99ae ;
  line-height: 30px;
}
.authors1{
  height: 150px;
  padding-left: 0;
  margin-right: 100px;
  margin-left: 200px;
  border-bottom: solid 1px #dee2e6;
  margin-top: 50px;
  margin-bottom: 20px;
}
.authorImages1{
  height: 100px;
  width: 100px;
  float: left;
}
.tImages{
  height: 100px;
  width: 100px;
}
.authorDescs1{
  height: 100px;
  width: 900px;
  float: right;
}

.authorDescTops1{
  height: 15px ;
}
.topLefts1{
  height: inherit;
  width: 150px;
  float: left;
  font-size: 16px;
  font-weight: 550;
  color: #212529;
}
.topRights1{
  height: inherit;
  width: 840px;
  float: left;
  margin-left: 10px;
  font-size: 14px;
  color: #343a40;
  font-weight: 550;
}
.rightLeft1{
  height: inherit;
  width: 790px;
  float: left;
  padding-left: 760px;
}
.rightLeft1 a{
  text-decoration: none;
  color: black;
}
.rightRight1{
  height: inherit;
  width:50px ;
  float: right;
}
.rightRight1 a{
  text-decoration: none;
  color: black;
  float: right;
  padding-right: 5px;
}
.dateSmall1{
  height: 10px;
  font-size: 12px;
  margin-bottom: 10px;
  color: #b07d62;
  float: left;
}
.authorDescMiddles1{
  height: 100px;
  font-size: 17px;
  color:#8d99ae ;
  line-height: 30px;
  float: left;
  margin-bottom: 20px;
}
.formDiv{
  margin-right: 100px;
  margin-left: 100px;
  height: 400px;
  margin-bottom: 60px;
}
#message{
  height: 150px;
  background-color: #edf2f4;
  width: 1120px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: none;
}
#name{
  width: 560px;
  height: 60px;
  background-color: #edf2f4;
  padding: 10px;
  font-size: 18px;
  border: none;
}
#email{
  width: 560px;
  height: 60px;
  background-color: #edf2f4;
  padding: 10px;
  font-size: 18px;
  border: none;
}
#submit{
  height: 60px;
    background-color: #432818;
    color: #fff;
  width: 100px;
  border: none;
}
#submit:hover{
    background-color: #fff;
    color: #432818;
    border: solid 1px #432818;
}
.formDiv a{
  text-decoration: none;

}
.inputs{
  margin-bottom: 30px;
}
.lastDiv{
  height: 500px;
  background-color: #323031;
}
.nonFooter{
height: 400px;
margin-left: 100px;
margin-bottom: 10px;
margin-right: 50px;

}
.nonFooterLeft{
  height:380px;
  width: 300px;
  float: left;
  padding-top: 100px;

}
.nonFooterLeftTop a{
  color: white;
  letter-spacing: 5px;
  font-size: 30px;
  text-decoration: none;
}
.nonFooterLeftMiddle{
  color: #7a7a7a;
  margin-top: 15px;
  line-height: 28px;
}
.nonFooterLeftBottom a{
  color: #fbfbf2;
  margin-top: 15px;
  text-decoration: none;
  margin-right: 15px;
}
.nonFooterMiddle{
  height: 380px;
  width: 200px;
  float: left;
  margin-left: 20px;
  padding-top: 100px;

}
.nonFooterMiddleTitle{
  color: #fafac6;
  font-size: 15px;
  margin-bottom: 30px;
}
.nonFooterMiddleLink{

}
.nonFooterMiddleLinkLeft{
  float: left;
  height: inherit;
  width: 5px;
}
.nonFooterMiddleLinkLeft i{
  color: #fafac6;
  letter-spacing: 10px;
}
.nonFooterMiddleLinkRight{
  float: right;
  height: inherit;
  width: 180px;
}

.nonFooterMiddleLinkRight a{
  text-decoration: none;
  color: #fff;
}
.nonFooterMiddleLinkRight a:hover{
  color: #fafac6;
}
.nonFooterRight{
  height: 380px;
  width: 600px;
  float: right;
  padding-top: 100px;
}
.nonFooterRightFirst{
  height: inherit;
  width: 170px;
  float: left;
}
.firstKo{
  color: #fafac6;
  font-size: 15px;
  height: 25px;
  border-bottom:solid 1px #7a7a7a ;
}
.secondKo{
  margin-top: 45px;
  line-height: 30px;
  color: #7a7a7a;
}
.nonFooterRightSecond{
  height: inherit;
  width: 170px;
  float: left;
  margin-left: 30px;
}
.nonFooterRightThird{
  height: inherit;
  width: 170px;
  float: left;
  margin-left: 30px;
}

.footer{
  height: 100px;
  border-top: solid 1px #343434; 
  color: #7a7a7a;
  font-size: 15px;
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
}
.footerLeft{
  float: left;
}
.footerRight{
  float: right;
}
.imageFooter{
  background-color: blue;
  color: black;
}
