body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
* {
    box-sizing: border-box;
}

.navbar{
      height: 100px;
      font-weight: bold;
      padding-left: 100px;
      width: 100%;
      position: fixed;
      border-bottom: solid 1px #343434; 
      padding: 30px;
      z-index: 5;
      background-color: white;
}
.navbar a {
  float: left;
  font-size: 15px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding-left: 20px;
}
#search{
  color: black;
  padding: 10px;
  margin-left: 20px;
  border-left:solid 1px #343434; 
  padding-left: 30px;
}
.logo a{
  color: black;
  letter-spacing: 5px;
  font-size: 30px;
  text-decoration: none;
  font-family: cursive;
  margin-right: 300px;
  padding: 10px;
}
.dropdown {
  float: left;
  overflow:hidden;
  font-size: 15px;
}

.dropbtn {
  font-size: 20px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-weight: bold;
  font-size: 15px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  margin-left: 3px;
  background-color: white;
  color: #b08968;
}
.dropdown:hover .dropdown-content {
  display: block;
}
#fb{
  padding: 10px;
  padding-left: 20px;
  margin-left: 20px;
  border-left: solid 1px #343434;
  color: black;
}
.bg-image {
  background-image: url("interiorImage.jpg");
  background-color: #cccccc;
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.bg-text {
  position: absolute;
  top: 30%;
  height: 500px;

}

.content{
    height: 500px;
    margin-left: 200px;
}

.innovative{
   text-align: left;
   height: 80px;
}
.innovativeArc{
  color: #7f5539;
  font-size: 15px;
  text-decoration: none;
  letter-spacing: 10px;

}
.intDgn{
margin-top: 20px;
height: 80px;
}
.dgn{
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  font-size: 30px;
}
.text{
      color: white;
      font-size: 18px;
      padding-bottom: 20px;
      text-align: left;
      height: 80px;
      line-height: 35px;
}
.work{
      text-align: left;
      height: 100px;
}
.work a{
      text-decoration: none;
      color: black;
      font-size: 20px;
      background-color: #b08968;
      padding: 15px;
}
.workBtn:hover{
  background-color: #fff;
  color: #b08968;
}

.overlapText{
  height: 300px;
  margin-right: 300px;
  background-color: #f0efeb;
  padding-left: 100px;
  padding-top: 70px;
}

.overlap1{
  height: inherit;
  width: 280px;
  margin-right: 30px;
  float: left;

}
.overlapUpper{
  height: 45px;
  width: 300px;
  float: left;
  margin-bottom: 30px;
}
.overNum{
  height: inherit;
  float: left;
  width: 60px;
  margin-right: 5px;
  font-size: 50px;
  color: #b08968;
}

.overSpace{
  height: inherit;
  float: left;
  width: 60px;
  margin-right: 5px;
  border-bottom: solid 1px #d3d3d3;
}
.overLetter{
  float: left;
  height: inherit;
  width: 150px;
  font-size: 20px;
  font-weight: bold;
  color: black;
  padding-top: 25px;
  margin-left: 5px;
}
.overlapLower{
  height: 200px;
  line-height: 27px;
  font-size: 17px;
  color: #a5a58d;

}

.about{
  height: 600px;

}

.about-left{
  height: inherit;
  width: 500px;
  float: left;
  margin-top: 100px;
  margin-left: 100px;
}
.left-one{
  color:#774936;
  font-size: 12px;
}
.left-two{
  font-size: 30px;
  font-weight: bold;
  color: black;
  margin-top: 25px;
  font-family: monospace;
  line-height: 40px;
}
.left-three{
  margin-top: 25px;
  color: #a5a58d;
  line-height: 30px;
}
.left-four{
  margin-top: 30px;
  font-size: 11px;
  color: #463f3a;
  letter-spacing: 3px;
}
.left-five{
  margin-top: 30px;
  height: 60px;
  width: 150px;
  background-color: #997b66;
  padding: 20px;
}
.left-five a{
  text-decoration: none;
  color: #fff;
  height: 50px;
  width: 100px;
  font-size: 15px;
  font-weight: 550;
  letter-spacing: 1px;
}
.left-five:hover{
  background-color: #edf6f9;
}
.left-five a:hover{
  color: #997b66;
}
.about-right{
  height: 530px;
  width: 730px;
  float: left;

}
.aboutImages{
  height: inherit;
  margin-right: 100px;
  margin-left: 50px;
}
.aboutImagesTop{
  height: 320px;
  width: inherit;
  padding-bottom: 10px;
}
.topLeftImages{
  height:310px ;
  width: 180px;
  background-color: #bde0fe;
  float: left;
}
.topRightImages{
  height:310px ;
  width: 380px;
  float: right;
  background-image: url("aboutUs.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.aboutImagesBottom{
  height: 210px;
  width: inherit;
  margin-top: 10px;
}
.bottomLeftImages{
  height: 200px ;
  width: 320px;
  float: left;
  background-image: url("aboutUs2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.bottomRightImages{
  height: 200px ;
  width: 240px;
  float: right;
  border: solid 15px #f4f1de;
  padding-top: 50px;
}
.imageYears{
  font-size: 70px;
  font-weight: 600;
  color: black;
}
.imageText{
  font-weight: 550;
  color: #403d39;
  margin-top: 5px;
}

.hoverEffect{
  height: 500px;
  margin-top: 50px;
}
.hoverAll{
  height: 500px;
  background-image: url("interiorImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}
.hoverOne{
  height: inherit;
  width: 330px;
  float: left;
  background-color: transparent;
  margin-right: 3px;
  border: solid 1px gray;

}
.headingOne{
  font-size: 11px;
  color: #fff;
  margin-bottom: 15px;
  letter-spacing: 2px;
}
.headingTwo{
  font-size: 20px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: bold;
}
.titleDiv{
  height: 200px;
  padding-top: 50px;
  padding-left: 50px;
}
.hoverOne:hover .titleDiv{
  background-color: white;
  color: black;
}
.hoverTwo:hover .titleDiv{
  background-color: white;
  color: black;
}
.hoverThree:hover .titleDiv{
  background-color: white;
  color: black;
}
.hoverFour:hover .titleDiv{
  background-color: white;
  color: black;
}
.hoverOne:hover .headingOne{
  color: black;
}
.hoverOne:hover .headingTwo{
  color: black;
}
.hoverTwo:hover .headingOne{
  color: black;
}
.hoverTwo:hover .headingTwo{
  color: black;
}
.hoverThree:hover .headingOne{
  color: black;
}
.hoverThree:hover .headingTwo{
  color: black;
}
.hoverFour:hover .headingOne{
  color: black;
}
.hoverFour:hover .headingTwo{
  color: black;
}
.hoverTwo{
  height: inherit;
  width: 330px;
  float: left;
  background-color: transparent;
  margin-right: 3px;
  border-right: solid 1px gray;
}
.hoverThree{
  height: inherit;
  width: 330px;
  float:left;
  background-color: transparent;
  margin-right: 3px;
  border-right: solid 1px gray;
}
.hoverFour{
  height: inherit;
  width: 330px;
  float: left;
  border-right: solid 1px gray;
  
}
.workProcess{
  height: 700px;
  background-color: #faf9f9;

}
.workTop{
  height: 300px;
  color: #774936;
}
.wtop1{
   color: #7f4f24;
   margin-left: 600px;
   padding-top: 100px;
   height: 30px;
   padding-bottom: 30px;
   font-size: 13px;
}
.wtop2{
  color:black;
  margin-left: 550px;
  height: 50px;
  font-size: 50px;
  padding-bottom: 100px;
  font-weight: 540;
  font-family: serif;
}
.workBottom{
  height: 350px;
  margin-left: 190px;
  margin-right: 190px;
}
.wUpper{
  height: 150px;
  width: inherit;
}
.wOne{
  height: inherit;
  width: 180px;
  float: left;
}
.wTwo{
  height: inherit;
  width: 60px;
  margin-left: 1px;
  margin-right: 15px;
  float: left;
  padding-top: 70px;
  font-weight: bold;
  color: #472d30;
  letter-spacing: 2px;
}
.wThree{
  height: inherit;
  width: 180px;
  float: left;
}
.wFive{
  height: inherit;
  width: 180px;
  float: left;
}
.wSeven{
  height: inherit;
  width: 180px;
  float: left;
}
.wImage{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: solid 5px #a5a58d;
}

.n1{
  height: 50px;
  width: 50px;
  margin-top: -110px;
  color: white;
  margin-left: 60px;
  font-weight: bold;
  font-size: 50px;
}
.wLower{
  height: 200px;
}
.lOne{
  height: inherit;
  width: 225px;
  float: left;
  margin-right: 15px;
  padding-top: 30px;
}
.wTop{
  color: black;
  font-size: 18px;
  margin-left: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
.wBottom{
  margin-left: 20px;
  color: #8a817c;
  font-size: 15px;

}
.wTop1{
  color: black;
  font-size: 18px;
  margin-left: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}
.wBottom1{
  margin-left: 50px;
  color: #8a817c;
  font-size: 15px;
}
.wTop2{
  color: black;
  font-size: 18px;
  margin-left: 60px;
  font-weight: bold;
  margin-bottom: 20px;
}
.wBottom2{
  margin-left: 60px;
  color: #8a817c;
  font-size: 15px;

}
.wTop3{
  color: black;
  font-size: 18px;
  margin-left: 70px;
  font-weight: bold;
  margin-bottom: 20px;
}
.wBottom3{
  margin-left: 70px;
  color: #8a817c;
  font-size: 15px;

}
.lTwo{
  height: inherit;
  width: 225px;
  float: left;
  margin-right: 15px;
  padding-top: 30px;
}
.lThree{
  height: inherit;
  width: 225px;
  float: left;
  margin-right: 15px;
  padding-top: 30px;
}
.lFour{
  height: inherit;
  width: 225px;
  float: left;
  padding-top: 30px;
}
.employees{
  height: 650px;
}
.employeeLeft{
  height: 550px;
  width: 674px;
  float: left;
  background-color: #f1f7ed;
}
.employeContent{
  height: 350px;
  width: inherit;
  padding-left: 100px;
  padding-right: 150px;
  padding-top: 100px;
}
.empTop{
  color:#b2967d;
  font-size: 18px;
  font-weight: bold;
  font-family: monospace;
  margin-bottom: 20px;
}
.empMiddle{
  color: #212529;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 20px;
}
.empBottom{
  color: #adb5bd;
  font-size: 17px;
  line-height: 28px;
}
.employeArrow{
  height: 100px;
  margin-left: 100px;
}
.employeArrow a{
  text-decoration: none;
  color: black;
}
.leftArrow{
  float: left;
  margin-right: 5px;
  height: 50px;
  width: 65px;
  background-color: #d6cfcb;
  padding: 18px;
}
.leftArrow:hover{
  background-color: #847577;
}
.rightArrow{
  float: left;
  margin-right: 50px;
  height: 50px;
  width: 65px;
  background-color:#d6cfcb;
  padding: 18px;
}
.rightArrow:hover{
  background-color: #847577;
}
.employeeRight{
  height: 650px;
  width: 655px;
  float: right;
  background-color: #f4f1de;
}
.employeeOverlap{
  height: 500px;
  margin-top: 100px;

}
.employeeContainer {
  position: relative;
  width: 50%;
  max-width: 300px;
  float: left;

}

/* Make the image to responsive */
.imageEmployee {
  width: 280px;
  height: 300px;
}

/* The overlay effect - lays on top of the container and over the image */
.employeeOverlay {
  position: absolute;
  top: 0;
  background: rgb(0, 0, 0);
  background: white; /* Black see-through */
  color: black;
  width: 20%;
  height: 150px;
  transition: .5s ease;
  opacity:0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.employeeOverlay a{
  text-decoration: none;
  margin: 3px;
  color:#847577 ;
}

/* When you mouse over the container, fade in the overlay title */
.employeeContainer:hover .employeeOverlay {
  opacity: 1;
}
.nameSection{
  height: 100px;
  margin-top: 20px;

}
.upperName{
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 10px;
  margin-left:100px ;
}
.lowerName{
  color: #adb5bd;
  font-size: 15px;
  margin-left: 120px;
}

.testimonials{
  height: 800px;
  background-image: url("skillsImage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tTop{
  height: 300px;
  background: transparent;
}
.top1{
   color: #d68c45;
   margin-left: 600px;
   padding-top: 100px;
   height: 30px;
   font-size: 15px;
   padding-bottom: 20px;
}
.tTop2{
  margin-left: 500px;
  height: 50px;
  font-size: 40px;
  padding-bottom: 150px;
  font-weight: 540;
  font-family: serif;
  color: #fef9ef;
}
.tBottom{
  height: 400px;
  padding-left: 150px;
  padding-right: 150px;
  background: transparent;
}


/* Contain demo size */
.contain {
  width: 500px;
  float: left;
  background: transparent;
  margin-right: 15px;
}
.quote-box{
  background: transparent;
}
.quote {
  background-color: #f6fff8;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color:#fef9ef ;
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-style: oblique;
  line-height: 35px;
  background: transparent;
   border: solid 10px #333533;
}

.tname {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: black;
  height: 100px;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
blockquote {
  padding: 0;
  margin: 0;
  background: transparent;
}

blockquote::after {
  border-color: transparent transparent transparent transparent;
  border-image: none;
  border-style: solid;
  border-width: 20px;
  top: 40px;
  content: " ";
  display: block;
  right: 75%;
  position: relative;
}
.photo{

}
.tPhoto{
  height: 75px;
  width: 75px;
  border-radius: 50%;
  float: left;
  background: transparent;
}
.identity{
  float: right;
  margin-right: 230px;
  margin-top: 15px;
  background: transparent;
}
.topBold{
  font-weight: 550;
  font-size: 18px;
  margin-bottom: 5px;
  text-align: left;
  color: #fef9ef;

}
.bottomLight{
  color: #d9ae94;
  font-size: 15px;
}

.aroL{
  float: left;
  height: 50px;
  width: 60px;
  margin-top: -100px;
  margin-left: -70px;
  background-color: #d6cfcb;
  padding: 11px;
  text-decoration: none;
}
.aroL a{
  text-decoration: none;
  color: #b08968;
  font-size: 30px;
}
.aroL:hover{
  background-color: #b08968;
  }
.aroL:hover a{
  color: #d6cfcb;

}

.aroR{
  color: white;
  float: right;
  height: 50px;
  width: 60px;
  margin-top: -90px;
  margin-right: -70px;
  background-color: #d6cfcb;
  padding: 11px;
}
.aroR a{
  text-decoration: none;
  color: #b08968;
  font-size: 30px;
}
.aroR:hover{
  background-color: #b08968;
  }
.aroR:hover a{
  color: #d6cfcb;

}
.blogs{
  height: 1200px;
}
.imgBlog{
  height: 200px;
  background-color: #e5e5e5;
  margin-top: -50px;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 8px;
  padding-left: 35px;
}
.singleDiv1 i{
  font-size: 100px;
  margin-left: 20px;
  height: 100px;
  float: left;
  margin-top: 30px;
  color: #8a817c;
  margin-bottom: 10px;
}

.singleDiv1{
  height: inherit;
  width: 160px;
  float: left;
  margin-right: 20px;
}
.singleDiv2{
  height: inherit;
  width: 160px;
  float: left;
  margin-right: 20px;
}
.singleDiv2 i{
  font-size: 100px;
  margin-left: 20px;
  height: 100px;
  float: left;
  margin-top: 30px;
  color: #8a817c;
  margin-bottom: 10px;
}
.lorem{
  margin-left: 40px;
  height: 50px;
  font-size: 10px;
}
.state{
  margin-left: 40px;
  height: 100px;
  font-size: 10px;
  letter-spacing: 5px;
}
.bTop{
  height: 300px;
  margin-top: 200px;
  margin-bottom: 100px;
}
.bTop2{
  margin-left: 570px;
  height: 50px;
  font-size: 40px;
  padding-bottom: 150px;
  font-weight: 540;
  font-family: serif;
  color: #2d3142;
}
.bBottom{
  height:400px ;
}
.grid {
  position: relative;
  margin: 0 auto;
  margin-left: 100px;
  margin-right: 100px;
  max-width: 100%;
  list-style: none;
  text-align: left;
}
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin-right: 20px;
  min-width: 500px;
  max-width: 550px;
  max-height: 350px;
  width: 40%;
  background: #3085a3;
  text-align: left;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}
figure.effect-ruby {
  background-color: #17819c;
}

figure.effect-ruby img {
  opacity: 1.0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

figure.effect-ruby:hover img {
  opacity: 1.0;
  -webkit-transform: scale(1);
  transform: scale(1.5);
}
.rubyImage{
  height: 400px;
  width: 550px;
}
.figureBox{
  height: 200px;

}
.boxDetails{
  height: 200px;
  width: 250px;
  margin-left: 250px;
  float: left;
}

.boxDetails2{
  height: 200px;
  width: 250px;
  margin-left: 350px;
  background-color: white;
  float: left;
}

.topDetail{
  height: 40px;
  width: inherit;
}
.topDetailLeftA{
 color: #a5a58d;
  font-size: 13px;
  text-decoration: none;
  float: left;
}
.topDetailRightB{
  color: #a5a58d;
  font-size: 15px;
  margin-right: 78px;
  text-decoration: none;
  float: right;
}
.middleDetail{
  height:70px ;
}
.middleDetails{
    line-height: 30px;
  text-decoration: none;
  font-weight: bold;
  color: #333533;
  font-size: 17px;
}
.bottomDetail{
    height: 50px;
    margin-top: 20px;

}
.bottomRead{
  text-decoration: none;
    font-size: 18px;
    color: #f19c79;
}

.lastDiv{
  height: 500px;
  background-color: #323031;
}
.nonFooter{
height: 400px;
margin-left: 100px;
margin-bottom: 10px;
margin-right: 50px;

}
.nonFooterLeft{
  height:380px;
  width: 300px;
  float: left;
  padding-top: 100px;

}
.nonFooterLeftTop a{
  color: white;
  letter-spacing: 5px;
  font-size: 30px;
  text-decoration: none;
}
.nonFooterLeftMiddle{
  color: #7a7a7a;
  margin-top: 15px;
  line-height: 28px;
}
.nonFooterLeftBottom a{
  color: #fbfbf2;
  margin-top: 15px;
  text-decoration: none;
  margin-right: 15px;
}
.nonFooterMiddle{
  height: 380px;
  width: 200px;
  float: left;
  margin-left: 20px;
  padding-top: 100px;

}
.nonFooterMiddleTitle{
  color: #fafac6;
  font-size: 15px;
  margin-bottom: 30px;
}
.nonFooterMiddleLink{

}
.nonFooterMiddleLinkLeft{
  float: left;
  height: inherit;
  width: 5px;
}
.nonFooterMiddleLinkLeft i{
  color: #fafac6;
  letter-spacing: 10px;
}
.nonFooterMiddleLinkRight{
  float: right;
  height: inherit;
  width: 180px;
}

.nonFooterMiddleLinkRight a{
  text-decoration: none;
  color: #fff;
}
.nonFooterMiddleLinkRight a:hover{
  color: #fafac6;
}
.nonFooterRight{
  height: 380px;
  width: 600px;
  float: right;
  padding-top: 100px;
}
.nonFooterRightFirst{
  height: inherit;
  width: 170px;
  float: left;
}
.firstKo{
  color: #fafac6;
  font-size: 15px;
  height: 25px;
  border-bottom:solid 1px #7a7a7a ;
}
.secondKo{
  margin-top: 45px;
  line-height: 30px;
  color: #7a7a7a;
}
.nonFooterRightSecond{
  height: inherit;
  width: 170px;
  float: left;
  margin-left: 30px;
}
.nonFooterRightThird{
  height: inherit;
  width: 170px;
  float: left;
  margin-left: 30px;
}

.footer{
  height: 100px;
  border-top: solid 1px #343434; 
  color: #7a7a7a;
  font-size: 15px;
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
}
.footerLeft{
  float: left;
}
.footerRight{
  float: right;
}
