body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
   box-sizing: border-box;
}
* {
    box-sizing: border-box;
}


.navbar{
      height: 100px;
      font-weight: bold;
      padding-left: 100px;
      width: 100%;
      position: fixed;
      border-bottom: solid 1px #343434; 
      padding: 30px;
      background-color: white;
      z-index: 5;
}
.navbar a {
  float: left;
  font-size: 15px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding-left: 20px;
}
#search{
  color: black;
  padding: 10px;
  margin-left: 20px;
  border-left:solid 1px #343434; 
  padding-left: 30px;
}
.logo a{
  color: black;
  letter-spacing: 5px;
  font-size: 30px;
  text-decoration: none;
  font-family: cursive;
  margin-right: 300px;
  padding: 10px;
}
.dropdown {
  float: left;
  overflow:hidden;
  font-size: 15px;
}

.dropbtn {
  font-size: 20px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-weight: bold;
  font-size: 15px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  margin-left: 3px;
  background-color: white;
  color: #b08968;
}
.dropdown:hover .dropdown-content {
  display: block;
}
#fb{
  padding: 10px;
  padding-left: 20px;
  margin-left: 20px;
  border-left: solid 1px #343434;
}
.bg-image {
  background-image: url("backgroundPortfolio.jpg");
  background-color: #cccccc;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bg-text {
  position: absolute;
  top: 50%;
  left: 30%;
  color: white;

}
.content{
    height: 350px;
    width: 100%;
}
.upperContent{
  height: 50px;
  font-size: 15px;
  letter-spacing: 2px;
  color: #936639;
  text-align: center;
}

.lowerContent{
  font-size: 50px;
  height: 100px;
  color: #252422;
  text-align: center;
  line-height: 60px;
}
.ourPortfolio{
  height: 2200px;
}
.portfolioTop{
  height: 100px;
  color: #774936;
  background-color: white;
}
.items{
  height: 80px;
  margin-left: 400px;
  margin-right: 330px;
  background-color: #fcfcfc;
  margin-bottom: 100px;
  border-radius: 8px;
}
.items a{
  text-decoration: none;
  float: left;
  margin: 2em 3em;
  font-size: 12px;
  font-weight: 790;
}
.items ul{
  margin: 0;
  padding: 0;
}
.items li{
  display: inline;
}
.dark{
  color: #a98467;
}
.light{
  color: #333533;
}
.menuDiv{
    height: 1800px;
    padding-left: 100px;
    padding-right: 150px;
}
.menuDiv1{
  height: 400px;
  margin-bottom: 50px;
}
.menuDiv2{
  height: 400px;
  margin-bottom: 50px;
}
.menuDiv3{
  height: 400px;
  margin-bottom: 50px;
}
.employeeContainer {
  position: relative;
  width: 50%;
  max-width: 300px;
  float: left;
  margin-right: 90px;
}
.employeeContainer1 {
  position: relative;
  width: 50%;
  max-width: 300px;
  float: right;
}


/* Make the image to responsive */
.imageEmployee {
  width: 350px;
  height: 400px;
}

/* The overlay effect - lays on top of the container and over the image */
.employeeOverlay {
  position: absolute;
  bottom: 0px;
  background: rgb(0, 0, 0);
  background: white; /* Black see-through */
  color: black;
  width: 320px;
  height: 80px;
  transition: .5s ease;
  opacity:0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.employeeContainer:hover .employeeOverlay {
  opacity: 1;
}
.employeeContainer1:hover .employeeOverlay {
  opacity: 1;
}
.employeeContainer:hover{
  opacity: 0.8;
}
.employeeContainer1:hover{
  opacity: 0.8;
}
.upperName{
  font-size: 20px;
  font-weight: bolder;
    text-align: center;
}
.lowerName{
  color: #adb5bd;
  font-size: 15px;
  text-align: center;
}

.lastDiv{
  height: 500px;
  background-color: #323031;
}
.nonFooter{
height: 400px;
margin-left: 100px;
margin-bottom: 10px;
margin-right: 50px;

}
.nonFooterLeft{
  height:380px;
  width: 300px;
  float: left;
  padding-top: 100px;

}
.nonFooterLeftTop a{
  color: white;
  letter-spacing: 5px;
  font-size: 30px;
  text-decoration: none;
}
.nonFooterLeftMiddle{
  color: #7a7a7a;
  margin-top: 15px;
  line-height: 28px;
}
.nonFooterLeftBottom a{
  color: #fbfbf2;
  margin-top: 15px;
  text-decoration: none;
  margin-right: 15px;
}
.nonFooterMiddle{
  height: 380px;
  width: 200px;
  float: left;
  margin-left: 20px;
  padding-top: 100px;

}
.nonFooterMiddleTitle{
  color: #fafac6;
  font-size: 15px;
  margin-bottom: 30px;
}
.nonFooterMiddleLink{

}
.nonFooterMiddleLinkLeft{
  float: left;
  height: inherit;
  width: 5px;
}
.nonFooterMiddleLinkLeft i{
  color: #fafac6;
  letter-spacing: 10px;
}
.nonFooterMiddleLinkRight{
  float: right;
  height: inherit;
  width: 180px;
}

.nonFooterMiddleLinkRight a{
  text-decoration: none;
  color: #fff;
}
.nonFooterMiddleLinkRight a:hover{
  color: #fafac6;
}
.nonFooterRight{
  height: 380px;
  width: 600px;
  float: right;
  padding-top: 100px;
}
.nonFooterRightFirst{
  height: inherit;
  width: 170px;
  float: left;
}
.firstKo{
  color: #fafac6;
  font-size: 15px;
  height: 25px;
  border-bottom:solid 1px #7a7a7a ;
}
.secondKo{
  margin-top: 45px;
  line-height: 30px;
  color: #7a7a7a;
}
.nonFooterRightSecond{
  height: inherit;
  width: 170px;
  float: left;
  margin-left: 30px;
}
.nonFooterRightThird{
  height: inherit;
  width: 170px;
  float: left;
  margin-left: 30px;
}

.footer{
  height: 100px;
  border-top: solid 1px #343434; 
  color: #7a7a7a;
  font-size: 15px;
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
}
.footerLeft{
  float: left;
}
.footerRight{
  float: right;
}
.imageFooter{
  background-color: blue;
  color: black;
}