body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
   box-sizing: border-box;
}

.navbar{
      height: 100px;
      font-weight: bold;
      padding-left: 100px;
      width: 100%;
      position: fixed;
      border-bottom: solid 1px #343434; 
      padding: 30px;
      background-color: white;
      z-index: 5;
}
.navbar a {
  float: left;
  font-size: 15px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding-left: 20px;
}
#search{
  color: black;
  padding: 10px;
  margin-left: 20px;
  border-left:solid 1px #343434; 
  padding-left: 30px;
}
.logo a{
  color: black;
  letter-spacing: 5px;
  font-size: 30px;
  text-decoration: none;
  font-family: cursive;
  margin-right: 300px;
  padding: 10px;
}
.dropdown {
  float: left;
  overflow:hidden;
  font-size: 15px;
}

.dropbtn {
  font-size: 20px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-weight: bold;
  font-size: 15px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  margin-left: 3px;
  background-color: white;
  color: #b08968;
}
.dropdown:hover .dropdown-content {
  display: block;
}
#fb{
  padding: 10px;
  padding-left: 20px;
  margin-left: 20px;
  border-left: solid 1px #343434;
}
.bg-image {
  background-image: url("background.jpg");
  background-color: #cccccc;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bg-text {
  position: absolute;
  top: 68%;
  left: 51%;
  transform: translate(-50%, -50%);
  color: white;
}
.content{
    height: 500px;
}

.interior{
      color: #774936;
      padding-top: 150px;
      font-size: 20px;

}
.system{
      color: white;
      font-size: 40px;
      text-decoration: none;
}
.text{
      color: white;
      font-size: 22px;
      text-decoration-color: white;
      padding-bottom: 30px;
}
.read{
      border: solid 1px white;
      text-decoration: none;
      color: white;
      padding: 10px;
      font-size: 15px;
      margin-top: 50px;
}
.read:hover{
  background-color: #fff;
  color: #b08968;
}

.aboutUs{
  height: 600px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
.aboutUs-subDiv{
  height: inherit;
}
.about-left{
  height: inherit;
  width: 500px;
  float: left;
}
.about-left img{
  height: inherit;
  width: inherit;
}
.about-right{
  height: inherit;
  width: 700px;
  float: right;
  margin-top: 100px;
  padding-right: 40px;
}
.right-one{
  color:#774936;
  font-size: 12px;
}
.right-two{
  font-size: 25px;
  font-weight: bold;
  color: black;
  margin-top: 40px;
  font-family: monospace;
}
.right-three{
  margin-top: 30px;
  color: gray;
}
.right-four{
  margin-top: 50px;
}
.box{
  height: 150px;
  width: 200px;
  border: solid 1px white;
  float: left;
  margin-right: 20px;
}
.boxTop{
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 40px;
  margin-top: 20px;
  color: #a98467;
}
.boxBottom{
  font-size: 13px;
  color: #403d39;
}

.services{
  height: 850px;
  margin-top: 50px;
  background-color: beige;
}
.serviceTop{
  height: 300px;
  color: #774936;
}
.top1{
   color: #774936;
   margin-left: 600px;
   padding-top: 100px;
   height: 30px;
   font-size: 15px;
   padding-bottom: 20px;
}
.top2{
  color:#2d3142;
  margin-left: 550px;
  height: 50px;
  font-size: 40px;
  padding-bottom: 100px;
  font-weight: 540;
  font-family: serif;
}
.serviceBottom{
  height: 600px;
}
.serviceInner{
  background-image: url("serviceBackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; 
  height: 450px;
  margin-left: 100px;
  margin-right: 100px;
}
.imageGallery1{
  height: 450px;
  width: 24.5%;
  background-color: #fff;
  float: left;
  margin-right: 5px;
}
.inner1{
  margin-top: 100px;
  font-size: 50px;
  color: #774936;
  margin-bottom: 40px;
  margin-left: 20px;
}
.inner2{
  margin: 20px;
  font-weight: bolder;
  font-size: 25px;
  color: #343a40;
}
.inner3{
  padding-left: 20px;
  padding-right: 20px;
  color: #adb5bd;
}
.inner4{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  
}
.inner4 a{
  color: #343a40;
  text-decoration: none;
  font-weight: 600;
}
.imageGallery1:hover {
  background: transparent;
}

.inner2:hover{
  color: #fff;
}
.inner4 a:hover{
  color: #fff;
}
.ourPortfolio{
  height: 1650px;
  margin-bottom: 50px;
}
.portfolioTop{
  height: 300px;
  color: #774936;
  background-color: white;
}
.items{
  height: 80px;
  padding-left: 400px;
  background-color: #f4f3ee;
  margin-bottom: 100px;
}
.items a{
  text-decoration: none;
  float: left;
  margin: 2em 3em;
  font-size: 16px;
  font-weight: bold;
}
.items ul{
  margin: 0;
  padding: 0;
}
.items li{
  display: inline;
}
.dark{
  color: #a98467;
}
.light{
  color: #333533;
}
.imageGrid{
  height: 425px;
  margin: 0px;
}

figure.effect-romeo img {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,0,300px);
  transform: translate3d(0,0,300px);
}

figure.effect-romeo:hover img {
  opacity: 0.6;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.picture{
  height: 400px;
  width: 600px;
  float: left;
  margin: 10px;
}
 .imageNameLeft{
  height: 80px;
  width: 600px;
  background-color: #f9fafe;
  margin-left: 50px;
  float: left;
 }
 .firstImage{
  height: 40px;
  font-weight: bold;
  font-size: 18px;
  padding-left: 20px;
  padding-top: 10px;
 }
 .secondImage{
  padding-left: 20px;
  color:#b0c4b1 ;
  font-size: 15px;
 }
  .imageNameRight{
  height: 80px;
  width: 600px;
  background-color: #f9fafe;
  margin-right: 70px;
  float: right;
 }
 .space{
  height: 120px;
 }

* {
    box-sizing: border-box;
}
 .skills{
  height: 700px;
 }
 .skillsImageDiv{
  background-image: url("skillsImage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; 
  height: 650px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 }


.container {
    display: flex;
    flex-wrap: wrap;
    height: 200px;
}

.progress {
    width: 200px;
    height: 200px;
    font-size: 30px;
    color: #fff;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background: #07070c;
    text-align: center;
    line-height: 200px;
    margin-left: 100px;
}

.progress::after {content: "%";}

.progress .title {position: relative;z-index: 100;}

.progress .overlay {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #07070c
}

.progress .left, .progress .right {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 10px solid #222235;
    border-radius: 100px 0px 0px 100px;
    border-right: 0;
    transform-origin: right;
}

.progress .left {animation: load1 1s linear forwards;}

.progress:nth-of-type(2) .right, .progress:nth-of-type(3) .right {animation: load2 .5s linear forwards 1s;}

.progress:last-of-type .right, .progress:first-of-type .right {animation: load3 .8s linear forwards 1s;}

@keyframes load1 {
    0% {transform: rotate(0deg);}

    100% {transform: rotate(180deg);}
}

@keyframes load2 {
    0% {z-index: 100;transform: rotate(180deg);}

    100% {z-index: 100;transform: rotate(270deg);}
}

@keyframes load3 {
    0% {z-index: 100;transform: rotate(180deg);}

    100% {
        z-index: 100;transform: rotate(315deg);}
}

.imageTitle{
  height: 200px;
  margin-bottom: 50px;
}
.titleTop1{
  color: #f5dd90;
   margin-left: 590px;
   padding-top: 100px;
   height: 30px;
   font-size: 15px;
   padding-bottom: 30px;
}

.titleTop2{
  margin-left: 550px;
  height: 50px;
  font-size: 40px;
  padding-bottom: 150px;
  font-weight: bold;
  font-family: serif;
  color: white;
}
.name{
  height: 100px;
}
.progressName1{
  color: white;
  float: left;
  padding-top: 40px;
  margin-left: 130px;
}
.progressName2{
  color: white;
  float: left;
  padding-top: 40px;
  margin-left: 180px;
}
.progressName3{
  color: white;
  float: left;
  padding-top: 40px;
  margin-left: 170px;
}
.progressName4{
  color: white;
  float: left;
  padding-top: 40px;
  margin-left: 180px;
}

.testimonials{
  height: 800px;
}
.tTop{
  height: 300px;
}
.tTop2{
  margin-left: 500px;
  height: 50px;
  font-size: 40px;
  padding-bottom: 150px;
  font-weight: 540;
  font-family: serif;
  color: #2d3142;
}
.tBottom{
  height: 400px;
  padding-left: 150px;
  padding-right: 150px;
}

/* Contain demo size */
.contain {
  width: 500px;
  border: solid 10px #eaf4f4;
  float: left;
}

.quote {
  background-color: #f6fff8;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color:#706677 ;
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-style: oblique;
  line-height: 35px;
}

.tname {
  background-color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: black;
  height: 100px;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* Reset */
blockquote {
  padding: 0;
  margin: 0;
}

blockquote::after {
  border-color: transparent #f6fff8 transparent transparent;
  border-image: none;
  border-style: solid;
  border-width: 20px;
  top: 40px;
  content: " ";
  display: block;
  right: 75%;
  position: relative;
}
.photo{

}
.tPhoto{
  height: 75px;
  width: 75px;
  border-radius: 50%;
  float: left;
}
.identity{
  float: right;
  margin-right: 230px;
  margin-top: 15px;
}
.topBold{
  font-weight: 550;
  font-size: 18px;
  margin-bottom: 5px;
  text-align: left;
  color: #2d3142;

}
.bottomLight{
  color: #d9ae94;
  font-size: 15px;
}

.contain1 {
  width: 500px;
  border: solid 10px #eaf4f4;
  float: right;
}
.employees{
  height: 650px;
}
.employeeLeft{
  height: 450px;
  width: 674px;
  float: left;
  background-color: #f1f7ed;
}
.employeContent{
  height: 350px;
  width: inherit;
  padding-left: 100px;
  padding-right: 150px;
  padding-top: 100px;
}
.empTop{
  color:#b2967d;
  font-size: 18px;
  font-weight: bold;
  font-family: monospace;
  margin-bottom: 20px;
}
.empMiddle{
  color: #212529;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 20px;
}
.empBottom{
  color: #adb5bd;
  font-size: 17px;
  line-height: 28px;
}
.employeArrow{
  height: 100px;
  margin-left: 100px;
}
.employeArrow a{
  text-decoration: none;
  color: black;
}
.leftArrow{
  float: left;
  margin-right: 5px;
  height: 50px;
  width: 65px;
  background-color: #d6cfcb;
  padding: 18px;
}
.leftArrow:hover{
  background-color: #847577;
}
.rightArrow{
  float: left;
  margin-right: 50px;
  height: 50px;
  width: 65px;
  background-color:#d6cfcb;
  padding: 18px;
}
.rightArrow:hover{
  background-color: #847577;
}
.employeeRight{
  height: 650px;
  width: 655px;
  float: right;
  background-color: #f4f1de;
}
.employeeOverlap{
  height: 500px;
  margin-top: 100px;
}
.employeeContainer {
  position: relative;
  width: 50%;
  max-width: 300px;
  float: left;
}

/* Make the image to responsive */
.imageEmployee {
  width: 280px;
  height: 300px;
}

/* The overlay effect - lays on top of the container and over the image */
.employeeOverlay {
  position: absolute;
  top: 0;
  background: rgb(0, 0, 0);
  background: white; /* Black see-through */
  color: black;
  width: 20%;
  height: 150px;
  transition: .5s ease;
  opacity:0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.employeeOverlay a{
  text-decoration: none;
  margin: 3px;
  color:#847577 ;
}

/* When you mouse over the container, fade in the overlay title */
.employeeContainer:hover .employeeOverlay {
  opacity: 1;
}
.nameSection{
  height: 100px;
  margin-top: 20px;

}
.upperName{
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 10px;
  margin-left:100px ;
}
.lowerName{
  color: #adb5bd;
  font-size: 15px;
  margin-left: 120px;
}
.blogs{
  height: 1000px;
}
.bTop{
  height: 300px;
}
.bTop2{
  margin-left: 570px;
  height: 50px;
  font-size: 40px;
  padding-bottom: 150px;
  font-weight: 540;
  font-family: serif;
  color: #2d3142;
}
.bBottom{
  height:400px ;
}
.grid {
  position: relative;
  margin: 0 auto;
  padding: 2em 0 4em;
  max-width: 1000px;
  list-style: none;
  text-align: left;
}
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 300px;
  max-width: 310px;
  max-height: 350px;
  width: 50%;
  background: #3085a3;
  text-align: left;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}
figure.effect-ruby {
  background-color: #17819c;
}

figure.effect-ruby img {
  opacity: 1.0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

figure.effect-ruby:hover img {
  opacity: 1.0;
  -webkit-transform: scale(1);
  transform: scale(1.5);
}
.rubyImage{
  height: 350px;
  width: 400px;
}
.figureBox{
  height: 200px;
}
.boxDetails{
  height: 200px;
  width: 250px;
  margin-left: 250px;
  background-color: white;
  float: left;
}

.boxDetails2{
  height: 200px;
  width: 250px;
  margin-left: 80px;
  background-color: white;
  float: left;
}

.topDetail{
  height: 40px;
  width: inherit;
}
.topDetailLeftA{
 color: #a5a58d;
  font-size: 13px;
  text-decoration: none;
  float: left;
}
.topDetailRightB{
  color: #a5a58d;
  font-size: 15px;
  margin-right: 78px;
  text-decoration: none;
  float: right;
}
.middleDetail{
  height:70px ;
}
.middleDetails{
    line-height: 30px;
  text-decoration: none;
  font-weight: bold;
  color: #333533;
  font-size: 17px;
}
.bottomDetail{
    height: 50px;
    margin-top: 20px;

}
.bottomRead{
  text-decoration: none;
    font-size: 18px;
    color: #f19c79;
}
.secondLast{
  height:650px ;
}
.secLeft{
background-image: url("skillsImage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  float: left;
  height: 670px;
  width: 500px;
}
.secRight{
  float: right;
  height: 670px;
  width: 700px;
}
.secRightMap{
  float: right;
  height: 670px;
  width:850px;
}
.messageForm{
  margin-top: -50px;
  height: 650px ;
  background-color: white;
  border: solid 10px #bcb8b1;
  padding-left: 30px;
  padding-top: 50px;
  margin-left: 80px;
  margin-right: -80px;
  padding-right: 30px;
}
.titleTop{
  height: 40px;
  color: #774936;
  font-size: 13px;
}
.titleBottom{
  height: 50px;
  color: #212529;
  font-weight: bold;
  font-size: 35px;
  font-family: serif;
}
.credentials{
  height: 430px;
}
#name{
  height: 50px;
  width: 415px;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: #e9ecef;
  border-color: transparent;
}
#email{
  height: 50px;
  width: 415px;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: #e9ecef;
  border-color: transparent;
}
#message{
  height: 170px;
  width: 415px;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: #e9ecef;
  border-color: transparent;
}
.send{
  height: 50px;
  width: 150px;
  padding: 10px;
  background-color: #cb997e;
  color: white;
  font-size: 13px;
  border-color: transparent;
}

.lastDiv{
  height: 500px;
  background-color: #323031;
}
.nonFooter{
height: 400px;
margin-left: 100px;
margin-bottom: 10px;
margin-right: 50px;

}
.nonFooterLeft{
  height:380px;
  width: 300px;
  float: left;
  padding-top: 100px;

}
.nonFooterLeftTop a{
  color: white;
  letter-spacing: 5px;
  font-size: 30px;
  text-decoration: none;
}
.nonFooterLeftMiddle{
  color: #7a7a7a;
  margin-top: 15px;
  line-height: 28px;
}
.nonFooterLeftBottom a{
  color: #fbfbf2;
  margin-top: 15px;
  text-decoration: none;
  margin-right: 15px;
}
.nonFooterMiddle{
  height: 380px;
  width: 200px;
  float: left;
  margin-left: 20px;
  padding-top: 100px;

}
.nonFooterMiddleTitle{
  color: #fafac6;
  font-size: 15px;
  margin-bottom: 30px;
}
.nonFooterMiddleLink{

}
.nonFooterMiddleLinkLeft{
  float: left;
  height: inherit;
  width: 5px;
}
.nonFooterMiddleLinkLeft i{
  color: #fafac6;
  letter-spacing: 10px;
}
.nonFooterMiddleLinkRight{
  float: right;
  height: inherit;
  width: 180px;
}

.nonFooterMiddleLinkRight a{
  text-decoration: none;
  color: #fff;
}
.nonFooterMiddleLinkRight a:hover{
  color: #fafac6;
}
.nonFooterRight{
  height: 380px;
  width: 600px;
  float: right;
  padding-top: 100px;
}
.nonFooterRightFirst{
  height: inherit;
  width: 170px;
  float: left;
}
.firstKo{
  color: #fafac6;
  font-size: 15px;
  height: 25px;
  border-bottom:solid 1px #7a7a7a ;
}
.secondKo{
  margin-top: 45px;
  line-height: 30px;
  color: #7a7a7a;
}
.nonFooterRightSecond{
  height: inherit;
  width: 170px;
  float: left;
  margin-left: 30px;
}
.nonFooterRightThird{
  height: inherit;
  width: 170px;
  float: left;
  margin-left: 30px;
}

.footer{
  height: 100px;
  border-top: solid 1px #343434; 
  color: #7a7a7a;
  font-size: 15px;
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
}
.footerLeft{
  float: left;
}
.footerRight{
  float: right;
}
.imageFooter{
  background-color: blue;
  color: black;
}