.leftDiv{
	/*padding-left: 20px;*/
	height: 640px;
	width: 375px;
	background-color: #F8F8FF;
	float: left;
	position: fixed;
}
.leftContent{
	margin-top: 150px;
	/*margin-left: 60px;*/
	padding-left: 60px;
}
.nepal{
	font-weight: bold;
	font-size: 28px;
	color: black;
	text-decoration: none;
	margin-bottom: 30px;
}
.menus{
	font-size: 20px;
	text-decoration: none;
	color: #708090;
}
.menuDark{
	font-size: 20px;
	color: black;
	text-decoration: none;
}
.copyright{
	margin-top: 50px;
	font-size: 20px;
	color: #a9a9a9;
}
.rightDiv{
	height: 640px;
	width: 958px;
	/*background-color: #c9c0bb;*/
	float: right;
}
.rightLeft{
	width: 370px;
	height: 640px;
	float: left;
	
}
.rightRight{
	height: 640px;
	width: 565px;
	float: right;
}
.middle{
	height: 100px;
	width: 525px;
	margin-top: 20px;
	margin-left: 10px;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	font-size: 21px;
	color:#708090;
	font-style: normal;
}
.top{
	margin-top: 200px;
	height: 50px;
	width: 535px;
	font-size: 45px;
	font-weight: bold;
	margin-left: 10px;
	padding-left: 10px;
}
.bottom{
	height: 100px;
	width: 535px;
	margin-top: 20px;
	margin-left: 10px;
	padding-left: 10px;
}
.image{
	margin-top:  170px;
	border-radius: 50%;
	margin-left: 55px;
	height: 280px;
	width: 280px;
}

.socialMediaLinks a {
    font-size: 26px;
    margin: 0 10px 0 0;
    color: #000000;
    text-decoration: none;
}
.socialMediaLinks a:hover { 
    color: #673ab7; 
}

/*---------------- About page css*---------------*/
.rightDivAbout{
	height: 1400px;
	width: 950px;
	float: right;
	padding-top: 120px;
}
.upper{
	height: 400px;
	width: 950px;
	padding-bottom: 50px;
}
.imageAbout{
	padding-left: 50px;
	height: 400px;
	width: 850px;
	padding-right: 50px;
}
.lower{
	height: 360px;
	width: 900px;
	padding-left: 50px;
	margin-bottom: 50px;

}
.lowerLeft{
	height: 200px;
	width: 500px;
	float: left;
}
.firstLine{
	height: 50px;
	width: 500px;
	font-size: 23px;
	font-weight: bold;
}
.secondLine{
	font-size: 18px;
	color:#708090;
}
.thirdLine{
	margin-top: 50px;
}
.learnMore{
	height: 55px;
	width: 150px;
	background-color: black;
	color: white;
}
.lowerRight{
	height: 200px;
	width: 360px;
	float: right;
	padding-top: 50px;
	margin-left: 10px;
	font-size: 18px;
}
.key{
	font-weight: bold;
}
.value{
	color:#708090;
}
.key1{
	font-weight: bold;
	text-align: center;
}
.value1{
	color:#708090;
	text-align: ;
}

.button{
	color: white;
	background: black;
	text-decoration: none;
	font size: 18px;
	height: 10px;
	width: 20px;
	padding: 20px;
}
.popUpContent{
	height: 900px;
	width: 950px;
}
.topPart{
	height: 300px;
}
.programming{
	height: 300px;
	width: 450px;
	float: left;
	padding-left: 50px;
}
.gap{
	padding-right: 100px;
	padding-top: 10px;
}

#file{
	height: 10px;
	width: 300px;
}
.language{
	height: 300px;
	width: 450px;
	float: right;
}
.middlePart{
	height: 250px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.m1{
	height: 300px;
}

.m12{
	height: 100px;
	width: 100px;
	float: right;
	border: groove;
	padding: 50px;
	margin-left: 50px;
	margin-right: 50px;
}
.m13{
	height: 100px;
	width: 100px;
	float: right;
	border: groove;
	padding: 50px;
	margin-left: 50px;
	margin-right: 50px;
}
.m11{
	height: 100px;
	width: 100px;
	float: left;
	border: groove;
	margin-left: 50px;
	padding: 50px;
	margin-right: 50px;
}
.bottomPart{
	height: 250px;
	margin-top: 20px;
}
.bp{
	height: 200px;
	padding-left: 20px;
}
.bp1{
	height: 190px;
	width: 250px;
	float: left;
	margin-left: 50px;
}
.bp2{
	height: 190px;
	width: 250px;
	float: right;
	margin-right: 20px;
	margin-left: 50px;
}

.bp3{
	height: 190px;
	width: 250px;
	margin-left: 50px;
	float: right;
}
.h2{
	padding-left: 50px;
}
.socialMedia a {
    font-size: 100px;
    margin: 0 10px 0 0;
    color: #000000;
    text-decoration: none;
    padding-left: 80px;
    padding-top: 50px;
    padding-right: 50px;
}
.socialMedia a:hover { 
    color: #673ab7; 
}

/*---------try pop-up-------


.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: left;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  background: black;
}
.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  height: 500px;
  width: 800px;
  position: relative;
  transition: all 5s ease-in-out;
  overflow: scroll;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {

}
.topDiv{
	height: 200px;
	width: 700px;
	background-color: pink;
	margin-left: 30px;
}
.t1{
	height: 200px;
	width: 330px;
	background-color: green;
	float: left;
}
.t2{
	height: 200px;
	width: 330px;
	background-color: blue;
	float: right;
}

.middleDiv{
	height: 90px;
	width: 700px;
	background-color: blue;
	margin-left: 30px;
}
.m1{
	height: 20px;
	width: 700px;
}
.m2{
	height: 100px;
	width: 700px;
	background-color: red;

}
.m2 .first{
	height: 50px;
	width: 130px;
	float: left
	border: groove;
	background: pink;
	padding: 10px;
}
.m2 .second{
	height: 50px;
	width: 130px;
	float: right;
	border: groove;
	padding: 10px;
	background-color: yellow;
}
.m2 .third{
	height: 50px;
	width: 130px;
	float: right;
	border: groove;
	padding: 10px;
	background-color: green
}
.bottomDiv{
	height: 90px;
	width: 700px;
	background-color: green;
	margin-left: 30px;
}


@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

*/

/*---------------- CSS of Portfolio Page---------------*/ 
.rightDivPortfolio{
	height: 1000px;
	width: 950px;
	float: right;
	padding-top: 100px;
}
.stDiv{
	height: 150px;
	width: 900px;
	margin-left: 50px;
}
.div11{
	height: 50px;
	width: 900px;
}
.btnPort{
height: 20px;
width: 80px;
padding: 10px;
font-weight: bold;
background-color:#f8f4ff;
color:#708090;
font-size: 15px;
}
.div12{

}
.creative{
	height: 50px;
	width: 200px;
	float: left;
	font-weight: bold;
	font-size: 25px;

}
.menuPort{
	height: 50px;
	width: 550px;
	float: right;

}
.all{
	padding-right: 40px;
	text-decoration: none;
	font-weight: bold;
	color: #a9a9a9;

}
.vmeo{
	padding-right: 40px;
	text-decoration: none;
	font-weight: bold;
	color: #a9a9a9;


}
.youtube{
	padding-right: 40px;
	text-decoration: none;
	font-weight: bold;
	color: #a9a9a9;


}
.soundcloud{
	text-decoration: none;
	padding-right: 40px;
	font-weight: bold;
	color: #a9a9a9;
}
.imagemenu{
	text-decoration: none;
	font-weight: bold;
	color: #a9a9a9;
}
.ndDiv{
	height: 800px;
	width: 950px;
	margin-left: 50px;
}
.imageTop{
	height: 400px;
	width: 950px;
}

.image1{
	height: 350px;
	width: 400px;
	float: left;
}
.image2{
	height: 350px;
	width: 400px;
	float: right;
}

.imageBottom{
	height: 400px;
	width: 950px;
}

.grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 950px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 400px;
	max-width: 400px;
	max-height: 350px;
	width: 50%;
	background:white;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 80%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/* Individual effects */

/*---------------*/
/***** Lily *****/
/*---------------*/

figure.effect-lily img {
	max-width: none;
	width: -webkit-calc(100% + 50px);
	width: calc(100% + 50px);
	opacity: 0.7;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-40px,0, 0);
	transform: translate3d(-40px,0,0);
}

figure.effect-lily figcaption {
	text-align: left;
}

figure.effect-lily figcaption > div {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	height: 50%;
}

figure.effect-lily h2,
figure.effect-lily p {
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

figure.effect-lily h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-lily p {
	color: rgba(255,255,255,0.8);
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}

figure.effect-lily:hover img,
figure.effect-lily:hover p {
	opacity: 1;
}

figure.effect-lily:hover img,
figure.effect-lily:hover h2,
figure.effect-lily:hover p {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-lily:hover p {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

/*------------------------CSS of Contact Page--------------*/
.rightDivContact{
	height: 1000px;
	width: 950px;
	float: right;
	padding-top: 100px;
	margin-bottom: 50px;
}
.getInTouch{
	height: 50px;
	width: 200px;
	float: left;
	font-weight: bold;
	font-size: 25px;

}
.Div1{
	height: 150px;
	width: 900px;
	margin-left: 50px;
}
.Div2{
	height: 400px;
	width: 900px;
	padding-left: 50px;
	margin-bottom: 50px;
}
.map{
	height: 400px;
	width: 900px;
}

.Div3{
	height: 400px;
	width: 900px;
	padding-left: 50px;
}
#name{
	height: 25px;
	width: 870px;
	padding: 10px;
	margin-bottom: 30px;
}
#email{
	height: 25px;
	width: 870px;
	padding: 10px;
	margin-bottom: 30px;
}
#message{
	height: 100px;
	width: 870px;
	padding: 10px;
	margin-bottom: 30px;
}
.send{
	height: 50px;
	width: 170px;
	padding: 10px;
	background-color: black;
	color: white;
	font-size: 16px;
}

/*---------------CSS of News Page-----------------*/
.rightDivNews{
	height: 1200px;
	width: 950px;
	float: right;
	padding-top: 100px;
}
.getInTouch{
	height: 50px;
	width: 200px;
	float: left;
	font-weight: bold;
	font-size: 25px;

}

.card1{
  display: block;
  flex-direction: row;
  width: 340px;
  height: 400px;
  position: relative;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 50px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin-left: 25px;
  float: left;
}
.card2{
	float: right;
  display: block;
  flex-direction: row;
  width: 340px;
  height: 400px;
  position: relative;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  margin: 50px;
  padding: 20px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin-left: 25px;
  margin-bottom: 50px;
}

.card:nth-child(2){
  background-color: blue;
  color: #fff;
}
.cardImage {
  height: 200px;
  width: 350px;
}
.cImage{
	height: 200px;
	width: 350px;
}

.cardContent{
  font-family: 'Roboto', sans-serif;

}
.cardTop{
	color:	#a9a9a9;
	font-size: 15px;
	margin-top: 20px;

}
.cardMiddle{
	font-weight: bold;
	font-size: 20px;
	padding-left: 25px;
	padding-right: 20px;
	padding-top: 20px;
}
.cardMiddle a{
	text-decoration: none;
	color: black;
	margin-top: 20px;
}
.cardBottom{
	padding-left: 25px;
	padding-top: 20px;
	text-decoration: none;
}
.cardBottom a{
	text-decoration: none;
	margin-top: 20px;
	color: black;
	font-size: 13px;
}
.card1:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card2:hover{
    box-shadow: 0 14px 28px rosybrown, 0 10px 10px rgba(0,0,0,0.22);
}
.stContent{
	height: 10px ;
}
